[2020-04-27 05:10] hongquan opened #1 "Vui lòng không lưu những file "rác" trong Git"
Đây là những file không liên quan đến source code. Nó có mặt ở đây, vừa làm nặng kho, vừa khiến Git nhận lầm một số trạng thái thay đổi không cần thiết.

![image](https://user-images.githubusercontent.com/314607/80335901-e1e00300-887f-11ea-82d0-ff1d46a984b3.png)

[2020-04-27 07:10] cuonglm opened #2 "BluezonerIdGenerator.createBluezonerId is predictable"
[BluezonerIdGenerator.createBluezonerId](https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/android/src/main/java/com/scan/BluezonerIdGenerator.java#L25) use [java.utils.random.Random](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Random.html), with current time as seed.

The problem is that `java.utils.random.Ra

[2020-04-27 07:24] quanglhbkav commented on #2
It is because of this line of code?

`Random rand = new Random(1234567890);`

The original code is:

`Random rand = new Random(System.currentTimeMillis());`

[2020-04-27 07:53] khanhcoc1210 commented on #2
In project
// Random
Random rand = new Random(System.currentTimeMillis());

Maybe, same seed with milliseconds.

[2020-04-27 08:12] cuonglm commented on #2
@khanhcoc1210 can you elaborate what do you mean?

[2020-04-27 08:31] khanhcoc1210 commented on #2
It is too hard to have 2 duplicated ID when using System.currentTimeMillis().

[2020-04-27 08:37] cuonglm commented on #2
My point is not about duplicated IDs, but about *predictable*. One DOS attack scennario:

 - Use a for loop to generate all future IDs, start from now.
 - Register all theses IDs to server.

Now legal users want to use app can not register anymore, because of duplicated IDs.

PS: also, it's **not hard** to have 2 duplicated IDs even your precision is milliseconds.

[2020-04-27 08:39] khanhcoc1210 commented on #2
I understood. :D

[2020-04-27 19:32] thaidn opened #4 "Bluezone IDs should be rotated"
I'm writing in English because I thought it would be useful for non-Vietnamese-speaking people to voice their opinions.

I reported this vulnerability over email on April 23, but I haven't got a response, so I thought I'd report it again here. If there's already a plan to address it, please share what you're going to do.

Bluezone assigns each installation a fixed 6-character ID, and broadcasts it

[2020-04-27 19:48] thaidn commented on #2
You should switch to [SecureRandom](https://docs.oracle.com/javase/8/docs/api/java/security/SecureRandom.html). It's a 3-line change. I can send a PR if you want me to.

[2020-04-27 22:42] thaidn commented on #4
I want to clarify when phones are discoverable when Bluetooth is turned on.

* Android phones (tested on Pixel, see my next comment) are discoverable in the following scenarios:
  * The user is seeing this screen
![Android Bluetooth Setting screen](https://img.gadgethacks.com/img/78/25/63574996642886/0/android-basics-connect-bluetooth-device.w1456.jpg)

  * An app enables discoverability using [th

[2020-04-28 00:43] htruong commented on #2
Generating a random number from `currentMillis()` is a bad way to generate a random ID.

Also, it allows anyone who knows your ID to deduce your installation time by brute-forcing by searching all possible seeds. This is (theoretically) problematic when the government wants to know when you installed the app.

[2020-04-28 07:11] htruong opened #5 "The random ID generator for iOS is implemented incorrectly, generates a biased random number"
The Swift code [to generate the random ID](https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/ios/Scanner/BluezonerIdGenerator.swift#L26) for iOS is wrong.

The `arc4random_uniform` function takes one parameter, which is the *upper bound* of the number you want to generate ([Here](https://codewithchris.com/swift-random-number/) - I could

[2020-04-28 09:04] icy commented on #2
Why? it's very good for reproducible build: https://reproducible-builds.org/

[2020-04-28 09:58] khanguy00 commented on #2
I'm not a security expert, but I know most of applications use UUID nowadays. And even if we want to limit the length, we could do like this:

[code]

Note: `UUID.randomUUID()` uses `SecureRandom`, btw.

[2020-04-28 10:20] khanguy00 commented on #5
So, I think what @htruong suggests is:

[code]

That's good then. But there is a shorter way (Swift 4.2+):

[code]

[2020-04-28 13:18] sgn opened #6 "BluezonerIdGenerator::createBluezonerId is plainly wrong"
At first, I want to add this as a comment to either #2 or #5,

But, after some thought, I think this issue is different from both of them.

The Id generation is plainly wrong in those steps:

- https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/android/src/main/java/com/scan/BluezonerIdGenerator.java#L25 `rand` is predictable, reported b

[2020-04-28 13:21] sgn commented on #6
Eh, my friends told me code without comment is bad, here is better version ;)
[code]

[2020-04-28 13:31] sgn opened #7 "Bluetooth UUID is hardcoded"
- https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/android/src/main/java/com/scan/AppConstants.java#L61
- https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/ios/Scanner/AppConstant.swift#L17
- https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a3

[2020-04-28 17:15] thaidn commented on #4
It's been brought to my attention that on Android phones from Chinese manufacturers such as Xiaomi, Oneplus, Oppo Bluetooth will always be discoverable when enabled, and users can't change this setting.

For years users have [widely](https://xiaomi.eu/community/threads/switch-for-bluetooth-visibility-discoverability.53527/) [complained](https://www.reddit.com/r/Xiaomi/comments/7c5mhx/apparently_in

[2020-04-29 03:37] thuandt commented on #7
So far as I know, it also depend on CI/CD process to release the application. It can be change before build or release

[2020-04-29 07:25] hnguyen355 opened #8 "Sorry Bluezone, I can not found this file on the source code? :D"
https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/index.js#L5

[2020-04-29 10:49] #1 closed, assigned to nobody

[2020-04-29 11:12] sgn commented on #6
This may be a fix, but don't quote me on this:
[code]

[2020-04-29 11:16] sgn commented on #7
Hi Thuan,

On 2020-04-28 20:37:56-0700, Thuan Duong <notifications@github.com> wrote:

I guess you're right.
But, I _think_ we need to cross-check with the apk uploaded to Google
Play.

But, there's an invalid UUID for bluetooth characteristic.
It isn't usable anyway.

--
Danh

[2020-04-29 14:40] thanhnhan2tn commented on #7
Hi,
I  dont think it is using for CICD. It using here

https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/d9ee70fd594093a30e50b6e62a7593a8397c2dab/lib/android/src/main/java/com/scan/AppUtils.java#L44

As far i know for peer-to-peer connection between Android devices such as smartphones u may use your own generated UUID. Devices must set same UUID to found each other and connect.

[2020-04-29 19:04] thaidn commented on #4
Cl0v3r -- he was the person that brought up the discoverability issue in Android phones made by Xiaomi, Oneplus, Oppo -- told me that he did some testing and found that it's likely that Xiaomi Mi 9 randomizes the Bluetooth LE MAC address every 10 minutes.

[2020-04-29 21:31] khanguy00 commented on #6
Or, as I mentioned in https://github.com/BluezoneGlobal/react-native-bluetooth-scan/issues/2#issuecomment-620505301

which is shorter and cover most of usages in this app.

[2020-04-30 01:45] thaidn commented on #2
FYI: somebody filed a CVE for this bug https://nvd.nist.gov/vuln/detail/CVE-2020-12270.

[2020-04-30 08:05] sgn commented on #6
I don't know much about Java, from its [documentation][*1*],
that looks like a better fix.

[*1*]: https://docs.oracle.com/javase/7/docs/api/java/util/UUID.html#randomUUID()

[2020-05-01 12:36] BkavMS17 commented on #4
Chào @thaidn , cảm ơn bạn đã có góp ý cho dự án Bluezone. Vì bạn là người Việt Nam nên mình sẽ trao đổi bằng tiếng Việt trong phần trả lời của mình.

Trong whitepaper nhóm phát triển cũng nói rõ:

Nói về an ninh mạng thì khi đã quảng bá một thông tin cố định như vậy là có thể định danh thiết bị rồi, hacker sẽ dùng cách này hay cách khác để có nếu muốn, do đó việc sinh ID ngẫu nhiên không làm thiết

[2020-05-01 17:10] thaidn commented on #4
Tôi đã giải thích tại sao điện thoại sẽ không quảng bá địa chỉ của Bluetooth Classic. Điện thoại của một số nhà sản xuất Trung Quốc làm vậy, nhưng điện thoại của Samsung hay Google thì không. Vả lại app cũng có thể tắt chức năng quảng bá này trên điện thoại của Trung Quốc.

Nếu Bluezone chuyển sang sử dụng API của Apple/Google thì quá tốt.

Nhưng nói cho rõ phần Apple và Google làm không liên quan

[2020-05-03 04:04] hadv commented on #4
Trong tài liệu, Bluezone còn muốn thu thập địa chỉ MAC của những người không sử dụng Bluezone App nữa mà nên họ không quan tâm đến việc sử dụng địa chỉ MAC ngẫu nhiên để đảm bảo privacy cho người dùng đâu ;)

![image](https://user-images.githubusercontent.com/941411/80898481-121b1c00-8d2e-11ea-992b-849563a902cb.png)

![image](https://user-images.githubusercontent.com/941411/80898515-80f87500-8d2e-

[2020-05-03 05:19] thenewvu commented on #4
@thaidn said what he found, that's a good thing, but he didn't say the other facts, so many people stand on his side, I won't disagree with anyone, I just want to tell you just a little more facts.

* The fact is your phone actively exposes your data to **a lot of other things**, in **much larger range** than bluetooth, such as GPS, cell towers, wireless hotspot, ...
* The fact is the exposed data

[2020-05-05 04:55] thenewvu commented on #4
For anyone still want to understand more about how a contact tracing app can work usefully and safely, I've found an article that pretty easy to understand (written in quite plain English), reasonable both in tech and in fact:

[The security behind the NHS contact tracing app](https://www.ncsc.gov.uk/blog-post/security-behind-nhs-contact-tracing-app)

Section "Here comes the crypto" describes a wa

[2020-05-05 05:18] thaidn commented on #4
Hôm nay Google và Apple đã ra mắt giải pháp và cho phép các đối tác thử nghiệm. Tôi hi vọng team Bluezone sẽ sớm đăng ký sử dụng. Để đăng ký, team Bluezone vui lòng liên hệ với team Google/Apple mà trước giờ Bluezone đã nói chuyện.

Nếu team có gặp trục trặc hay thắc mắc gì, tôi rất sẵn lòng hỗ trợ. Email công việc của tôi là thaidn@google.com.

[2020-05-05 05:29] thaidn commented on #4
@thenewvu

From TFA:

This means the NHS app is centralized -- this is bad or good depending on whom you talk to -- but it doesn't use a fixed ID. Bluezone remains the only contact tracing app in the whole world using a fixed ID.

[2020-05-05 05:36] thenewvu commented on #4
It uses fixed IDs, but they are encrypted with new key everyday, you quoted it:

The more important problem of bluezone IDs is it is easy to guess, and has a weak collision resistance. But they may have solved it already by prefixing created time their IDs on backend side (my guess).

[2020-05-05 05:42] thaidn commented on #4
@thenewvu that ID is not the ID that it'd broadcast over BLE. The last paragraph shows how it generates the BLE IDs. Bluezone, however, broadcasts the same ID over and over again.

[2020-05-05 06:04] thenewvu commented on #4
As I understand, that is the fixed ID, just encrypted, server-side will decrypt to recover the fixed ID.

Back to the problem here, instead ranting about using this better, using that better, we should be constructive, the makers have to deal with scaling, backward compatibility and maintenance problems, we don't.

The question we can help here is, **How to improve their tracing IDs that will not

[2020-05-08 04:38] khanguy00 commented on #4
@thenewvu why do you quote a random article here? I don't feel we have anything to do with that. The problem here is that Bluezone ID should be rotated or not. From your last comments, I guess you're agreed that it should, but disagreed about how to generate IDs (am I wrong?). That's fine.

The thing is the development team haven't replied about that. What we expect is that they know and answer pr

[2020-05-08 06:17] thenewvu commented on #4
@khanguy00 I agree with your points, except, that's not a random article, the article points to this thread, I also didn't criticize anyone, just saying that those lines in the quote don't help the situation better. I'm going to delete it now, I think the quote doesn't make the situation better either. And yes, this discussion makes no sense if no action was made. I'm done here.

[2020-05-08 09:30] khanguy00 commented on #4
@thenewvu thanks for not ignoring me. And sorry if I made you feel of my misunderstanding, but when I mentioned about "criticise", I just said in common sense. It's okay if we criticise each other in some points, I think.

[2020-08-03 00:25] thaidn commented on #2
It looks like this has been fixed.

Since early May, Bluezone has started using rolling IDs, generated with an algorithm not unlike DP3T's.

[2020-08-03 00:26] thaidn commented on #4
It looks like this has been fixed.

Since early May, Bluezone has started using rolling IDs, generated with an algorithm not unlike DP3T's.

[2020-08-03 00:26] #4 closed, assigned to nobody

[2020-08-03 00:32] thaidn commented on #2
I discovered this by reverse engineering the latest Android version on Google Play Store. I'm not sure about iOS.

[2020-08-03 00:40] thaidn opened #12 "Daily Bluezone IDs trong ngày đầu tiên người dùng cài ứng dụng bị sai"
Phiên bản: 2.0.2
Ngày phát hành: 15/05/2020
Hệ điều hành: Android

Đoạn code khởi tạo Bluezone base ID có một lỗi nhỏ khiến cho những daily Bluezone IDs trong ngày đầu tiên người dùng cài ứng dụng bị sai:

https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/master/lib/android/src/main/java/com/scan/bluezoneid/BluezoneIdGenerator.java#L90-L104

Hàm `initRandomBluezoneBaseId()` được g

[2020-08-03 00:44] thaidn commented on #12
(hit enter too early)

Tôi cũng đã kiểm tra thông qua reverse engineering và thấy lỗi này xuất hiện trong phiên bản Bluezone mới nhất trên Google Play Store.

Lỗi này sẽ khiến dữ liệu báo cáo bị sai, dẫn đến việc truy vết không chính xác, nhưng chỉ trong ngày đầu tiên, bắt đầu từ ngày thứ hai dữ liệu sẽ đúng. Đây không phải là lỗ hổng bảo mật, mà chỉ là lỗi lập trình thông thường.

[2020-08-03 09:08] thaidn commented on #12
Có vẻ như lỗi này đã được sửa trong phiên bản 2.0.3 ra ngày hôm nay. Nhờ các bạn trong team phát triển xác nhận và đóng report này lại nếu đúng.

[2020-08-03 19:25] thaidn opened #13 "Tự động tắt Bluetooth discoverable mode"
Như đã nói ở https://github.com/BluezoneGlobal/react-native-bluetooth-scan/issues/4#issuecomment-620741016, trên một số dòng điện thoại có xuất xứ từ Trung Quốc, Bluetooth sẽ luôn ở chế độ discoverable khi được bật lên. Khi ở chế độ này, điện thoại sẽ phát đi một địa chỉ Bluetooth cố định.

Tôi đề nghị Bluezone cài đặt một daily job để tự động tắt discoverable mode. Android không cung cấp API chín

[2020-08-04 04:56] BkavMS17 commented on #5
Sorry for missing this topic. In the current Bluezone version implemented in Vietnam, we no longer use arc4random function to create BluezoneId. Now, BluezoneId is generated through the SHA256 hash function with a random key generated initially according to the operating system's random key generation function.
Thanks,

[2020-08-04 05:03] BkavMS17 commented on #12
Cảm ơn ThaiDN đã góp ý, lỗi này Team đã phát hiện và đã sửa trong bản 2.0.3.

[2020-08-04 05:03] #12 closed, assigned to nobody

[2020-08-04 05:08] BkavMS17 commented on #13
Cảm ơn ThaiDN, team phát triển cũng đã nghiên cứu về vấn đề bạn nêu, nhưng hiện tại team đang ưu tiên hàng đầu về tính ổn định cho các dòng điện thoại. Việc này sẽ cần 1 nghiên cứu kỹ lưỡng và đánh giá về mức độ ảnh hưởng đến hoạt động của điện thoại nếu có phần mềm/tác vụ nào đó khác có thể đã được thiết kế trên các dòng điện thoại này.

[2020-08-04 07:59] thaidn commented on #13
Cảm ơn bạn đã trả lời. Tôi đồng ý nên thận trọng.

Một data point bạn có thể cân nhắc: khi người dùng mở Exposure Notification API trên Android thì Android cũng sẽ tắt discoverable mode. Chúng tôi triển khai cái này cũng được vài tháng rồi, cho đến giờ không gặp vấn đề gì.

[2020-08-04 08:04] thaidn opened #17 "Một số đề nghị với team Bluezone"
(Tôi không biết nên gửi vào đâu, nên gửi vào đây, vì thấy có người từ BKAV trả lời)

Tôi biết team Bluezone có lẽ đang rất bận cập nhật các app và backend. Tôi nghĩ cộng đồng cũng sẽ có thể giúp đỡ được phần nào nếu như có thêm tài liệu và mã nguồn mới nhất.

Đề nghị của tôi:

1/ Nhờ team Bluezone cập nhật mã nguồn và whitepaper đã công bố trên GitHub cho đúng với phiên bản mới nhất.

2/ Nếu được

[2020-08-04 17:39] thaidn commented on #17
Tôi thấy mã nguồn của `react-native-bluetooth-scan` đã được cập nhật. Cảm ơn team Bluezone!

Nhờ các bạn cập nhật mã nguồn của https://github.com/BluezoneGlobal/bluezone-app luôn được không? Tôi muốn hiểu cách máy chủ gửi lệnh đến app.

[2020-08-04 22:50] htruong commented on #5
Thanks, it would be great to have the source code published too. I'm closing this ticket since it's no longer an issue.

[2020-08-04 22:50] #5 closed, assigned to nobody

[2020-08-05 04:06] nhantr commented on #17
ý kiến của anh không phù hợp lắm. tại sao lại muốn xem code server? đây có phải open source không? đừng lợi dụng việc bảo mật để lấy code như thế nhé.

[2020-08-05 04:07] nhantr commented on #13
rãnh quá anh ơi

[2020-08-06 04:34] hoandesign commented on #17
Anh ấy đang muốn kiểm tra để xem có lỗi privacy và security nào ko đó. HIện tại Server là blackbox lớn nhất của dự án này trong khi giữ quá nhiều dữ liệu quan trọng. Nếu sợ share cho cộng đồng mà chưa vá hết lỗi thì nên cho phép anh ấy xem private.

[2020-08-06 07:45] khanguy00 commented on #17
Tôi nghĩ bạn @nhantr chưa hiểu vấn đề ở đây... Câu chuyện nằm ở chỗ Bluezone được chính phủ tuyên bố là dự án nguồn mở, nhằm thể hiện quyết tâm của chính phủ trong việc minh bạch, mà đã thực hiện minh bạch thì phải minh bạch hết. Minh bạch là khái niệm có ranh giới rất rõ ràng: Hoặc là hoàn toàn có, hoặc là không.

[2020-08-07 11:37] nhantr commented on #17
các anh k hiểu là privacy gì đi nữa k phải là quan tâm của số đông. các a k ở vn, a k hiểu tình hình vn thì anh k có ảnh hưởng gì đối với chúng tôi. thôi làm ra vẻ chú ý bảo mật để chống phá việc chống dịch ở vn đi

[2020-08-07 14:13] khoaminhbui commented on #17
Không biết bạn @nhantr là đại diện cho phía phát triển app hay là giữa đường thấy chuyện bất bình nhào vô chém bậy mấy nhát vậy. Nhưng cách nói chuyện của bạn cực kì kém trình độ cũng như lịch sự.

Bạn nói các bạn kia không ở VN đúng không. Vậy mình ở VN và có mười mấy năm làm trong lĩnh vực software nè. Nếu bạn không phải là dân trong nghề thì thôi, bỏ qua, còn là dân trong nghề thì nói vài điểm

[2020-08-07 20:33] khanguy00 commented on #17
@nhantr okay fine. Bạn nói đúng, tôi không ở VN nên tôi không hiểu tình hình ở VN. Tôi ở Úc, mà tình hình Covid-19 ở đây nghiêm trọng hơn VN rất nhiều.

Tuy nhiên, tôi thấy chúng ta nói chuyện không liên quan nhau lắm. Trong khuôn khổ của issue này, không ai tranh luận xem có nên xài Bluezone hay không, chúng ta chỉ dừng lại ở việc góp ý với team Bluezone, và câu chuyện đang hướng đến chuyện mở mã

[2020-08-07 20:44] khanguy00 commented on #17
Đã tạo issue khác ở đây: https://github.com/BluezoneGlobal/documents/issues/6

Mời mọi người!

Và xin để issue này cho việc thảo luận dựa trên các góp ý của @thaidn .

[2020-08-08 02:05] thaidn commented on #17
Tôi đã cập nhật thêm một số đề nghị.

@nhantr vâng, ông nội tôi mới chết nên tôi cần lấy mã nguồn Bluezone về tế ổng. Bạn có thì giúp giùm tôi nhé, xin cảm ơn!

[2020-08-08 13:56] thaidn commented on #17
Tôi mới đưa lên hướng dẫn cách reproduce để thấy máy chủ Bluezone có thể âm thầm lấy dữ liệu của người dùng như thế nào:

https://github.com/thaidn/bluezone

[2020-08-08 16:45] toankst commented on #17
Chào bạn @thaidn
Mình đã xem qua project của bạn và có lẽ vấn đề chính là bạn chưa rõ về concept của contact tracing. Việc upload list của những token mà mình đã encounter là cần thiết trong việc xem mình có gặp phải ai mắc phải COVID-19 hay chưa. Những token này là token tạm thời do thiết bị generate mỗi interval nhất định để tăng tính bảo mật. Mỗi người dùng sẽ submit seed ID cho server để serve

[2020-08-08 17:10] toankst opened #19 "Unnecessary permissions requested"
After looking through the code, I found that the app have those unnecessary permissions that are not required for the app to operate. It could potentially be a source of vulnerabilities if any other apps choose to interfere with it.
![image](https://user-images.githubusercontent.com/37358722/89715929-3ca4f280-d977-11ea-8870-c128d2c3cd23.png)

First, `WRITE_EXTERNAL_STORAGE` and `READ_EXTERNAL_STOR

[2020-08-08 17:40] thaidn commented on #17
@KILLERST

Trong dữ liệu upload có `TokenFirebase`. Mỗi thiết bị tại một thời điểm nhất định sẽ được đại diện bởi một `TokenFirebase` duy nhất. `TokenFirebase` có vai trò như một pseudonym. Khi base ID (mà bạn gọi là seed ID) và contact history được đưa lên máy chủ cùng lúc với `TokenFirebase`, máy chủ sẽ biết được lịch sử tiếp xúc của thiết bị đó với những thiết bị khác. Đến đây máy chủ vẫn chỉ m

[2020-08-08 18:00] toankst commented on #17
@thaidn

"Lúc này để tìm F1 thì máy chủ có thể gửi base ID xuống các client khác, để client tự match"

Ko biết bạn có develop system contact tracing nào chưa, đây hoàn toàn ko phải là cách Contact Tracing suppose to work. Server sẽ **ko bao giờ** gừi base ID của những infected user về những máy khác **ever**. Client chỉ gửi đi những list token họ đã encounter đi và nhận lại 1 risk score dựa vào vi

[2020-08-08 18:12] thaidn commented on #17
Dạ thưa bạn, tôi làm cái Exposure Notification API của Google và Apple, nên tôi nghĩ là tôi hiểu cách thức hoạt động của contact tracing.

Bạn đang nói cách bạn làm hay là cách Bluezone làm?

Bạn đọc tài liệu của Exposure Notification API và [whitepaper của chính Bluezone](https://github.com/BluezoneGlobal/documents/blob/master/Bluezone_White_paper.pdf) sẽ thấy cả hai đều gửi danh sách F0 xuống cl

[2020-08-08 18:29] toankst commented on #17
Bạn "làm" cài contact tracing hay "dùng"? Vì 2 cái thể hiện 2 trình độ khác nhau, mình có thể "dùng" Exposure Notification easily nhưng cách này ko hợp với hướng đi mà employer mình cần.
Mình đồng ý về lỗi về việc mình skip white paper của Bluezone và nghĩ theo hướng centralized server thay vì decentralized. Decentralized server thì khả năng bị attack sẽ cao hơn nhiều, đây là 1 [summary](https://d

[2020-08-08 18:36] toankst commented on #17
@thaidn
Để mình split cái này sang post mới để dễ discuss
![image](https://user-images.githubusercontent.com/37358722/89717405-6adcff00-d984-11ea-8815-0c0d8a0ec229.png)
Centralized or not, bạn có bao giờ thấy at any point, anonymity của user bị vulnerable trong app này? Đây là thứ mà mình cũng đang tìm.

[2020-08-08 19:12] thaidn commented on #17
First you claimed that I don't understand how contact tracing works. Then I showed you irrefutable evidences that what I said is exactly how it works. Now you claim that it's not how proper contact tracing works, as if yours is the only proper way, and continue to question my credit, that is whether I'm merely a user or an actual developer of the Google/Apple Exposure Notification system.

I'm one

[2020-08-08 19:14] sophieschmieg commented on #17
Happy to confirm that Thai indeed works on the Google/Apple contact tracing API. As in he is my co-lead at Google for reviewing and auditing the cryptographic and other security properties of this API.

Thai is one of the most accomplished and intelligent security engineers I ever had the pleasure working with, these attacks on his character are ridiculous, and should if anything convince people t

[2020-08-08 19:15] thaidn commented on #17
Thanks @sophieschmieg ❤️

[2020-08-08 19:18] toankst commented on #17
Is it as ridiculous as claiming vulnerability based on some findings of Firebase Tokens and Bluetooth Tokens being submitted? That what made me question his expertise in the first place. And he still hasn't answered about that.
@sophieschmieg @thaidn

[2020-08-08 19:21] toankst commented on #17
@sophieschmieg if tokens leaving the device is the wrong way then it is the same thing as me thinking decentralized contact tracing is the wrong way. He posted blog and made claims like his vulnerability has been confirmed/correct, when it's not. Is that professional?

[2020-08-08 19:27] sophieschmieg commented on #17
a) he posted a literal demonstration. You can check it yourself if you like.
b) the idea behind a decentralized contact tracing API is that tokens/keys only leave the device if the user is *infected*. Privacy best practice is to not share these tokens without explicit user consent, even if the user is infected.

[2020-08-08 19:30] thaidn commented on #17
@KILLERST I thought I've explained it clearly, but let's try again one more time.

The first big red flag is the Bluezone system does NOT do what it claims to do. Even yesterday, the development team went on a national TV network claiming that the client never uploads any data to the server. I've provided evidences to the contrary. I even provided a means for people to [reproduce my findings](http

[2020-08-08 19:33] toankst commented on #17
@sophieschmieg
Let "Google" do the translation so you can see how that accusation translated to:
"I've just posted a tutorial on how to reproduce to see how the Bluezone server can silently fetch user data"

It sounds like that in English, and in Vietnamese, it sounds even worse. I have been asking where user's data (PII) ever been collected according to his claim, however, he has been avoiding th

[2020-08-08 19:35] thaidn commented on #17
No, I didn't avoid the question. It's more like you miss the answer. It's in the README of my PoC. Quoting https://github.com/thaidn/bluezone/blob/master/README.md

[code]

But this is a side point. The main point is the system does indeed upload contact history data, contrary to the claim in the whitepaper and newspapers.

Edit: added the last sentence.

[2020-08-08 19:39] nedn commented on #17
@KILLERST you don't understand IT privacy very well, do you? The point of a privacy respecting design is "server can't do wrong even if they try to", so saying an app is secured because there is no evidence of wrong doings from server side is a very amateur understand of privacy/security.

To give an analogy: you go to store and buy a door. You find out that the door lock isn't very secured and po

[2020-08-08 19:56] toankst commented on #17
Very nicely crafted personal attack and putting words in my mouth at the same time, did I ever claim that their server not doing anything wrong? Did I ever claim that this app is secured? They are putting their configuration file and logs in the hard drive and that's a very big vulnerability right there.

And to response to your edit analogy, my exact stance has been there **is** vulnerability (I

[2020-08-08 20:01] toankst commented on #17
Your posted a list of requests full of political issues instead of actual technical problems, are we here on github to solve political issues?

[2020-08-08 21:06] toankst commented on #17
@thaidn @nedn @sophieschmieg
To sum the problem up: @thaidn found connection between Firebase Token, Bluetooth Token, and the phone number to receives OTP which could potentially be stored by server. I don't say that method is the best, but it is a form of authentication so the authenticity of the users is somewhat ensured (not absolutely though, there can always be other form of spoofing). Howeve

[2020-08-08 21:22] nedn commented on #17
No. You conveniently left out some crucial details in your summary.

Bluezone is not just "any other app". It's the contact tracing app which Vietnam government recommends __everyone__ to uses and the app developers have made guarantees that it won't collect any users data. The amount of scrutiny such an app like this deserves, of course, will be different from some random game app made by anyone.

[2020-08-08 22:33] thaidn commented on #17
@KILLERST am I right that you're arguing that phone numbers by themselves are not personal information?

[2020-08-08 23:05] thaidn commented on #17
I've reported many technical issues, including the one that you found, which I first reported 3 months ago and was also
recently reported in https://github.com/BluezoneGlobal/bluezone-app/issues/22.

I agree that some of my request are about policies, but they're relevant to the trustworthiness of the app. I chose to post them here because I don't know where else to send them, as this is the only

[2020-08-09 02:56] toankst commented on #17
@thaidn

Thanks for being understanding. Knowing the app is made by BKAV and supported by the government, I took their advertising words about security and transparency with a grain of salt. I came here for two purpose:
- If they do something incorrectly, I would be happy to help. It is indeed a difficult time and helping them is the right choice nevertheless which political side I'm on. while I r

[2020-08-09 04:37] HongThatCong commented on #19
I agree with you, @KILLERST
Unnecessary permissions should be removed !

[2020-08-09 05:02] hdchinh commented on #17
don't make me laugh bro 😄

[2020-08-09 06:09] dshongphuc commented on #13
@nhantr bạn không làm thì để yên cho người khác làm, người ta đang muốn contribute cho project này, còn bạn thì ngồi đó kêu người ta rãnh. Bớt vớ vẩn đi giùm cái !

[2020-08-09 08:18] nhantr commented on #13
contribute là bảo mọi người xung quanh cài đặt nó. bới móc chống phá goịla2 contribute🤔

[2020-08-09 08:22] dangquocmin commented on #17
Mình cũng rất quan tâm về phần này, không biết bản mã nguồn hiện tại đã được cập nhật mới nhất chưa?
Vì theo như source code hiện tại trên [github](https://github.com/BluezoneGlobal) này, mình đang hiểu app ko tự động gửi history data lên bluezone server như [bài](https://vnhacker.blogspot.com/2020/08/bang-chung-cho-thay-may-chu-bluezone-co.html).

[2020-08-09 08:31] thaidn commented on #17
Mã nguồn chưa được cập nhật nha bạn. Tức là app đang chạy một mã nguồn khác, so với mã nguồn đã công bố. Kết quả tôi viết trong bài là nhờ vào dịch ngược app tải về từ Google Play.

Nếu bạn muốn làm lại thí nghiệm của tôi, bạn có thể xem hướng dẫn ở https://github.com/thaidn/bluezone.

[2020-08-09 08:31] leqnam commented on #17
Đã là open source theo như Chính phủ và team đã công bố trên trang chủ của bluezone thì PHẢI công bố luôn.

[2020-08-09 08:39] dangquocmin commented on #17
Mình đã thử nghiệm [source ](https://github.com/thaidn/bluezone.) trên của bạn. Tuy nhiên file apk cần phải chính xác là file từ Google Play hoặc cần build từ opensource tương ứng để mọi kết luận đều có sự chính xác nhất.

[2020-08-09 08:52] thaidn commented on #17
@dangquocmin: https://github.com/thaidn/bluezone/tree/master/apks có hướng dẫn cách verify các file APKs đó. Tất cả đều được signed bởi Google. Từ các file này, script `create_apk.sh` chỉ unpack để đổi cấu hình Firebase và điều chỉnh AndroidManifest để có thể sniff requests thôi, hoàn toàn không đụng đến mã nguồn.

Nếu bạn thấy có chỗ nào còn nghi ngờ thì cứ hỏi, tôi sẽ giải thích.

[2020-08-09 09:17] dangquocmin commented on #17
Cảm ơn bạn.

1. create_apk.sh chỉ unpack và thay đổi 1 số cấu hình không chỉnh sửa mã nguồn.
2. Các file apk cũng đã được google signed

Mình nghĩ mình sẽ build thêm 1 bản từ open source mới nhất để tự verify thêm.

[2020-08-09 10:12] vmgnud commented on #13
@nhantr phần kêu gọi người xung quanh cài đặt tôi nghĩ đã có đội truyền thông, còn về khía cạnh kỹ thuật tôi chưa thấy anh thaidn hay bất kỳ ai trên này đáng bị gán cái mác "bới móc chống phá".

[2020-08-09 10:23] NgoHuy commented on #19
I submitted the issue here https://github.com/BluezoneGlobal/bluezone-app/issues/22

[2020-08-09 16:02] cuongtk8 commented on #17
@tvc12

[2020-08-09 23:54] sernle commented on #17
Mình không hiểu lắm @KILLERST có vấn đề gì về giải thích của @thaidn. Cái này chỉ là muốn xác định chính xác có phải quảng cáo một đằng làm một nẻo không thôi? Không phải cái gì có mác chỉnh phủ cũng 100% tốt (mình có xem qua code một chút thì thấy phần code java hiện giờ không hẳn là tốt, mình không rõ nó có thể hoạt động tốt nếu số case càng ngày càng tăng lên không). Nếu việc server có lưu thôn

[2020-08-10 01:00] khanguy00 commented on #17
@KILLERST @nedn Just want to add more proofs that makes Bluezone is not like "any other apps":

- The official website of Bluezone app is https://bluezone.gov.vn/. See? That's `.gov.vn`, and only owned by the VN government.
- Unlike other apps (or even other platforms like Google/Apple/Samsung), Bluezone's owner (which is VN government) has fully access to user information that's linked from a pho

[2020-08-10 01:11] khanguy00 commented on #19
I think that's leftover. Previously, Bluezone app saved IDs in external storage, and someone (@thaidn, maybe?) raised that issue, and the team silently removed it from the code, but the manifest hasn't updated yet.

[2020-08-10 02:49] anhnguyen-pizzahut commented on #17
"The government has the right to ask for citizen's help, not to demand their citizens' presences for their own interest." said a famed person.

[2020-08-10 04:51] t-rekttt commented on #17
Not sure if anyone mentioned this already, but aren't we generating unique ids for devices just to get rid of all the personal information? Then they used a phone number for verification, which again is personal information. And currently, it's at the risk of being leaked.
I've read the whitepaper and didn't see the phone number part mentioned anywhere. Is the phone number really important here?

[2020-08-10 05:24] khanguy00 commented on #17
@t-rekttt I think that's the point. The document say nothing about phone number, but who know if they collect and save in the database. I'm not saying that they will do that, but what if a hacker break their security and steal that data? That's why some people asked for the server's source code. Just to ensure, you know.

[2020-08-10 06:29] tiendc commented on #17
Hi. Tôi cũng là một programmer, nhưng tôi không có kiến thức về mảng này nên không giúp gì được. Nhưng tôi thấy có cả tranh cãi về vấn đề phi kỹ thuật. Tôi là một người dân, tôi sẵn sàng chống dịch nhưng tôi không muốn dữ liệu cá nhân của tôi bị người khác khai thác, dù đó là bất kì ai, chứ chưa nói đến kẻ xấu. Dù là việc chống dịch cấp bách, nhưng nếu đưa ra thị trường một sản phẩm nguy hiểm theo

[2020-08-10 06:31] t-rekttt commented on #17
I think we should split your points into 2 parts. The part about data collecting and the part about backend security.
1. Data collecting: Actually, if they say it straightly that they're collecting personal data, explain to people why it is important, and by installing the app people are accepting the fact that their data is being collected, then that's fine. Collecting without telling people, is

[2020-08-10 06:39] HongThatCong opened #20 "APK release"
Mình có đề nghị nhỏ là các bạn trong team cũng build luôn apk release để mọi người down từ đây, và so sánh với apk trên Google store.
Chứ quăng cục source ở release vậy thì 90% ai biết cách mà build :)

[2020-08-10 07:00] khanguy00 commented on #17
@t-rekttt yes, you have my point in the first part.

Regarding on backend security, I also think there are 2 things to consider:

1. The server should not hold any sensitive data unless it's necessary. Judging from the app's purpose, I don't think keeping the map of phone number and bluezone ID is essential. So sharing the source code (and keeping fully their promise of open sourcing) would not be

[2020-08-10 08:37] immanuel192 commented on #17
Code server có gì thần thánh đâu mà lợi dụng lấy source trời :)

[2020-08-10 08:42] hqkhiem commented on #20
Cộng đồng cần là source code, với những bạn việc build cũng ko biết thì việc so sánh với file apk trên google store có ý nghĩa gì?

[2020-08-10 09:02] HongThatCong commented on #20
Souce code 1 đằng, source build private 1 nẻo, ai mà biết được bạn.
Mình công khai, minh bạch, thích build thì build, cho lên đây 1 bản ngay khi realease ver mới.
Ai thích compare thì compare với   Google store, không tin nửa thì tự build rồi compare.
Máy các bạn cài đặt sẵn rồi, script enter 1 cái là có ngay.
User, coder bình thường như mình và nhiều người khác, phải cài tùm lum thứ, sao như các

[2020-08-10 10:40] nhantr commented on #17
@immanuel192 thế mà có thằng lấy mới ghê

[2020-08-10 12:12] hqkhiem commented on #20
Công khai, minh bạch, thế nên theo đã là open source thì cộng đồng họ cần là mỗi bản release phải based trên repo mà BZ public chứ không phải golive 1 repo, github 1 repo. Nếu giải quyết đc bài toán này thì lúc này cũng sẽ giải quyết câu hỏi của b

[2020-08-10 12:17] sernle commented on #17
Mình không hiểu @nhantr có hiểu gì về lập trình hay thiết kế hệ thống hay không? Nếu bạn không hiểu thì mình không rõ mục đích của bạn ở đây làm gì? Nếu bạn hiểu thì đáng ra bạn cũng nên biết với thiết kế của Bluezone (hay hầu hết cách Tracing app hiện giờ) thì phần khó nhất thuộc về cái App trên điện thoại. Làm sao có thể xác định được là khoảng cách xa gần thế nào? Làm sao biết là hai người có t

[2020-08-10 12:56] quyennguyenvan commented on #17
code các bạn í code = C# nên thần thánh lắm í :(

[2020-08-10 15:25] toankst commented on #17
Again, that is more about political than technical, the country itself has a database of phone number and its citizens, might include emails as well. And that's an issue existing outside Bluezone. What form of authentication would you prefer Bluezone to use to protect its integrity and make you feel safe at the same time? IMEI (or hash of it?), phone number, email, a separate Bluezone account?

On

[2020-08-10 15:46] toankst commented on #19
According to my static analysis, there are still some logging and configuration methods requiring read and write permissions in version 2.0.4

Access to external drive (check & create directory and files if granted permissions):
![image](https://user-images.githubusercontent.com/37358722/89801888-b4515980-dafe-11ea-9f8d-e58ff5d2d30b.png)

Calls to getAppPath:
![image](https://user-images.githubuse

[2020-08-10 15:51] NgoHuy commented on #19
In latest code on github, the app created backup database as .bluezone.db.backup... on /sdcard/ partition. They should respect user's decision.

[2020-08-10 15:52] toankst commented on #19
This is a full trace of bluezone_config.txt being accessed from ServiceTraceCovid:

![image](https://user-images.githubusercontent.com/37358722/89802540-a2bc8180-daff-11ea-85a1-2cc6fccc41ab.png)
![image](https://user-images.githubusercontent.com/37358722/89802768-ed3dfe00-daff-11ea-94dc-131df9fe2611.png)
![image](https://user-images.githubusercontent.com/37358722/89802677-cc75a880-daff-11ea-8ce2-7

[2020-08-10 17:00] haxj commented on #17
Hi. As a citizen who live here, I worry about my health and the health of people around me, but I also care about my privacy, and I know quite many people here that also share the same concerns. Who are you to represent the whole population and claim what people here care about and what they do not?

I understand that you do not represent the government and therefore may not be able to answer all

[2020-08-10 17:42] toankst commented on #17
I specifically used 'okay' to mean a agreement level about 6-7 over a scale of 10. If you're worry about security, protect yourself by using a spoof number (promotional sim card?) or not entering the phone number at all. Why come on here and call BS when it's the people giving the number out in the first place? I can't represent the whole population but I living there for more than 20 years, I kno

[2020-08-10 18:02] BaoDotMark commented on #17
- Technical
1) Mình có thấy là mọi người đề cập đến `Firebase Token`, mình xin đặt dấu hỏi ở đây. Nếu Firebase, vì một lý do gì đó, không hoạt động, vậy có ảnh hưởng đến việc vận hành hệ thống ko?
2) Sẽ có trường hợp, người dùng xoá app, cài lại. Làm thế nào để phía server định danh lại được người dùng này, cũng như mapping lại lịch sử tiếp xúc từ trước? Câu hỏi tương tự trong trường hợp đổi đt mớ

[2020-08-10 18:23] jackblk commented on #17
In the first place, if Bluezone app worked like the white paper they had published, then there wouldn't be this thread.

1. From white paper, there should be no phone number collection.
2. Bluezone app has phone number collection => why? Even if the reason is reasonable, this is going against what was advertised.

Thaidn has proven that in the latest version of Bluezone on play store, they CAN sil

[2020-08-10 18:37] toankst commented on #17
There are a lot more stuffs already implemented in the shadow. With an update, silent data collection 2.0 could be activated without any further permissions asked. Many people can only see what are presented to them though...

If you don't like the policies, fight for it. Write to lienhe@bluezone.gov.vn with your contact so you guys can discuss policies in greater length.

Technical-wise, there's

[2020-08-10 19:15] jackblk commented on #17
Firstly, I'm just a junior programmer with limited understanding about programming. Also I have no experience on using EN API and I don't have any credibility so feel free to attack my poor personal profile if it can improve your points (please don't) :(.

Ah so you also agree on the main point of this thread. Glad to know.

- What Bluezone is doing is against what it advertised. False advertising

[2020-08-10 19:23] anht3889 commented on #17
Mình trích dẫn trong điều 1 - https://bluezone.gov.vn/dieukhoansudung . Theo mình hiểu thì như vậy lịch sử tiếp xúc được sử dụng khi:
1. Người dùng đồng ý -> Dùng app nhập OTP để upload dữ liệu
2. Hoặc cơ quan y tế / CP "buộc phải" lấy lịch sử tiếp xúc -> Thông qua phát hiện của Thái ở issue này.
Cá nhân thấy #2 là cần thiết trong trường hợp đại dịch như hiện giờ.
Những ai muốn cần quyền riêng tư

[2020-08-10 20:18] thaidn commented on #17
@anht3889 oh sao tôi cài và chạy cái app này cả trăm lần rồi mà chưa bao giờ thấy cái Điều Khoản Sử Dụng này nhỉ. Nhưng không sao, như vậy Bluezone đã thừa nhận là có đưa dữ liệu của người dùng lên máy chủ, cảm ơn phát hiện quan trọng của bạn. Có nghĩa tất cả các phát biểu trước báo giới và trên tivi của Bluezone đều chỉ là một nửa sự thật.

Trích phát biểu của Bluezone ngày 9/8/2020 trên báo [Tuổ

[2020-08-10 20:19] thaidn commented on #17
Tôi không chia sẻ lỗ hổng. Demo của tôi chỉ chứng minh rằng Bluezone có lấy dữ liệu của người dùng. Đây là thông tin mà nhiều người cần biết. Chẳng phải đó là lý do mà Bluezone cũng đưa thông tin này vào Điều Khoản Sử Dụng?

[2020-08-10 20:20] thaidn commented on #17
@phanduonghieu FYI

[2020-08-10 22:47] sernle commented on #17
_Người dùng đồng ý -> Dùng app nhập OTP để upload dữ liệu_
**Hơi lạ nhỉ. Bạn đọc được cái OTP với upload dữ liệu ở đâu. Trong điều 1  - https://bluezone.gov.vn/dieukhoansudung , chẳng hề nói gì đến điểm này**

[2020-08-11 00:06] khanguy00 commented on #17
@KILLERST

Sorry, I didn't mean that way. My word was just to prove that Bluezone is not "like other apps". It's a government app.

To some, that doesn't matter. But to others, it does.

So, in order to make it better for all, and maybe reach the higher number of usages in the country, the government and/or Bluezone team should include the statement into the white paper and the press, saying clear

[2020-08-11 00:49] khanguy00 commented on #19
Okay, sounds like it's in use. Let's wait until the Bluezone team validate it.

[2020-08-11 01:11] nitrieu commented on #17
Thấy thread này nhộn nhịp, mình cũng có những ý kiến đơn giản.
1. Nếu white paper nói gì, thì nên theo đấy. 1 app cho chính phủ, không thể treo đầu dê bán thịt chó ;) Như bạn @khanguy00 ý kiến ở trên, chỉ cần ghi vào white paper là "app có thu tập vài thông tin j j đấy" ai muốn dùng thì dùng ;) như app tracetogether. take it easy...

2. Bluezone đứng ra làm app, ai cũng ủng hộ. Tuy nhiên, những lỗ

[2020-08-11 01:38] thaidn commented on #19
@KILLERST I'm not sure 100%, but it looks like the app indeed attempts to read `bluezone_config.txt` from external storage, but it also has a fallback mechanism when it doesn't have permission or the file doesn't exist. There are also functions that might write logs to external storage, but it looks like logging is disabled inn production built. I've run it on my test phone for days, but seen no l

[2020-08-11 02:33] HongThatCong commented on #20
Vậy thì thua, open source cho có à, lạy mấy thánh.
Thôi để em thu xếp thời gian lấy cái apk trên Google store gì đó về mày mò compare với code này thử, xem có gì hay, học hỏi không :D

[2020-08-11 02:54] HongThatCong commented on #19
Dùng JEB đi các đại ca, đọc code smali chi cho lòi mắt

[2020-08-11 03:22] ngdangdat commented on #17
Hi @BaoDotMark,

Nếu việc mapping không được thực hiện ở server thì lịch sử tiếp xúc từ trước sẽ không restore lại được. Theo comment của anh Thái đã đề cập trong https://github.com/BluezoneGlobal/bluezone-app/issues/22 thì backup storage không được sử dụng trong app -> Firebase ID mới không connect được với Firebase ID cũ.

[2020-08-11 03:23] ngdangdat commented on #17
Hi @BaoDotMark,

Nếu việc mapping không được thực hiện ở server thì lịch sử tiếp xúc từ trước sẽ không restore lại được. Theo comment của anh Thái đã đề cập trong https://github.com/BluezoneGlobal/bluezone-app/issues/22 thì backup storage không được sử dụng trong app -> Firebase ID mới không connect được với Firebase ID cũ.

[2020-08-11 03:44] b1acKr0se commented on #17
One week has passed and there is still no response from the development team?

It's true that most of the people in this country - even the educated ones - do not give a damn about their own privacy. They even pushed the narrative that if you choose not to use this app, you are some kind of antigovernment/trying to be superior. Then giving silly examples like Facebook/Tiktok stealing your data as

[2020-08-11 03:50] anht3889 commented on #17
Ý mình đang nói ở đây là cách bạn chia sẻ vấn đề. Mình có hỏi và thấy nhiều bạn không cài đặt Bluezone vì không tin tưởng và cho rằng dữ liệu bị ăn cắp bằng dẫn chứng các bài blog của bạn và issue này. Họ thậm chí chả cần biết Điều Khoản Sử Dụng thế nào, chẳng cần biết app hoạt động ra sao, chẳng cần quan tâm chuyện có thể không dùng số đt để đăng ký.

À cái này mình suy luận từ các bước để khai t

[2020-08-11 04:18] implicit-invocation commented on #19
IIRC, ACCESS_FINE_LOCATION permission is required for BLE discovery
[https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-hardware-id](https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-hardware-id)

[2020-08-11 04:42] implicit-invocation commented on #17
Cá nhân mình không quá phiền nếu chính phủ thu thập data của mình để bảo vệ cho mình, nhất là trong bối cảnh như hiện nay.

Kể cả nếu mô hình là centralized, kể cả ứng dụng không chỉ thu thập thông tin về contact mà thu thập cả thông tin về location của người dùng (để xác định việc tiếp xúc gián tiếp) thì mình nghĩ nhiều người dân cũng sẽ happy để đóng góp dữ liệu cho cơ quan quản lý nhà nước. Chỉ

[2020-08-11 04:52] kaizvn commented on #17
bạn @KILLERST tưởng cao nhân nào vào ý kiến, vào xem profile bạn  xem mức độ contribute của bạn xong mình nghĩ các bạn nên ignore thanh niên này để tập trung vào issue thay vì ba cái lằng nhằng làm nhiễu thông tin.

[2020-08-11 04:52] duongli45 commented on #17
@anht3889

Hoạt động đúng là ở đây là lưu trữ dữ liệu cá nhân của người dùng? Có thể lý do BZ đưa ra là vì lợi ích của cá nhân bị lấy thông tin và vì lợi ích cộng đồng cho việc phòng chống covid.
Thế hãy xem lại điều khoản và phát biểu của những người có liên quan nhé:

[2020-08-11 05:36] khanguy00 commented on #17
@anht3889 Có điều cần làm rõ, trong một xã hội luôn có đa dạng con người, mỗi người một tính và một mối quan tâm khác nhau. Có thể người bạn của bạn không quan tâm đến điều khoản, nhưng trong xã hội có nhiều người khác quan tâm. Ví dụ như mình, mình biết việc tracking này có liên quan đến privacy chỉ vì nó liên quan đến tracking. Một thứ gì bất kỳ mà liên quan đến tracking thì chắc chắn phải có mố

[2020-08-11 05:53] phuongdua commented on #17
Cảm ơn @thaidn đã giúp người dùng hiểu rõ hơn về BZ!

[2020-08-11 06:32] phanduonghieu commented on #17
Cam kết của chính phủ thể hiện qua phát biểu của Bộ trưởng “Đột phá ở chỗ, chính quyền không thu thập thông tin của người dân, các thông tin chỉ được lưu trên máy điện thoại của cá nhân.”
(Cf. https://www.nhandan.com.vn/khoahoc-congnghe/item/44133602-ung-dung-bluezone-dot-pha-trong-su-dung-cong-nghe-chong-dich-covid-19.html)

Hiện tại hướng thiết kế trong whitepaper cộng với những thay đổi từ ý ki

[2020-08-11 06:35] tam95 commented on #17
Good talk. Highly appreciate @thaidn for poiting out many flaws from Bluezone app. It would be no story if Bluezone didn't claim that they won't upload user's data to server (while in fact they did), ask irrelevant permissions and hide server code (when it should be opened as open source). Decentralized server is the best approach (IMO) for Vietnam since there is no cross border, no different poli

[2020-08-11 08:52] nhanth87 commented on #17
Anh @phanduonghieu nói rất chính xác, hiện tại mọi người đang hiểu (hoặc cố tình hiểu) chính phủ == bkav, chính phủ đang thuê bkav làm app và bkav không làm đúng như những gì chính phủ hứa hẹn, chính phủ nên có 1 team riêng để kiểm chứng lại những gì bkav làm.

[2020-08-11 10:00] hoangtulaptrinh commented on #17
bé xuân mai ...

[2020-08-11 10:11] sernle commented on #17
Mình tạo một cái sơ đồ đơn giản về
![BlueZone](https://user-images.githubusercontent.com/3986866/89898193-2e094600-dbd8-11ea-809f-77c0bea4688f.png)

 quá trình đi xét nghiệm dựa theo code và một số tài liệu
https://github.com/BluezoneGlobal/documents/blob/master/Bluezone_White_paper.pdf
https://moh.gov.vn/tin-lien-quan/-/asset_publisher/vjYyM7O9aWnX/content/tap-huan-va-khai-thac-su-dung-phan-mem-b

[2020-08-11 10:48] khanguy00 commented on #17
Tôi nghĩ bạn @nhanth87 cũng có chút nhập nhằng ở đây...

Đúng là chính phủ thì không liên quan đến bkav và ngược lại. Nhưng Bluezone thì là của chính quyền VN. Dẫn chứng thì tôi đã nói: Website chính thức của bluezone có đuôi `.gov.vn` mà cái đuôi domain này chỉ được phép cấp cho một cơ quan dưới quyền kiểm soát của chính quyền VN. Trên trang web của Bluezone cũng để tên bộ TTTT và bộ Y tế là cơ q

[2020-08-11 11:08] caovanthanh203 commented on #17
Xem profile github cũng không có ý nghĩa gì nhiều, ví dụ mình dùng bitbucket nên ko có contributions nào bên github cả.
Vấn đề chính là hi vọng có ai đó có trách nhiệm trong team sẽ tiếp thu =)))

[2020-08-11 14:12] matamune94 commented on #20
@HongThatCong bạn có phải dân kỹ thuật không ?

[2020-08-11 14:15] #7 closed, assigned to nobody

[2020-08-11 14:57] HongThatCong commented on #20
Dạ, biết chút chút bạn @matamune94
Có gì không bạn, xin bạn chỉ dạy. Chứ đâu phải cái gì ai cũng biết hết

[2020-08-11 15:20] toankst commented on #19
Why would a Contact Tracing app need to call either `WifiInfo.getMacAddress()` or `BluetoothAdapter.getAddress()`?

With further digging, I found a receiver that should not exist in Contact Tracing ecosystem in the first place.
https://github.com/BluezoneGlobal/react-native-bluetooth-scan/blob/master/lib/android/src/main/java/com/scan/ServiceTraceCovid.java#L96

Those 2 actions, `ACTION_FOUND` and

[2020-08-11 15:46] implicit-invocation commented on #19
@KILLERST I posted the incorrect link, the correct one should be
[https://developer.android.com/reference/android/bluetooth/le/BluetoothLeScanner#startScan(android.bluetooth.le.ScanCallback)](https://developer.android.com/reference/android/bluetooth/le/BluetoothLeScanner#startScan(android.bluetooth.le.ScanCallback))
BLE scan needs location permission since BLE beacons can be used to determine indo

[2020-08-11 16:19] thaidn commented on #19
@KILLERST The Bluetooth classic scanning issue was discussed at length in the first half of https://github.com/BluezoneGlobal/documents/issues/3. I found that the scanning code is disabled: https://github.com/BluezoneGlobal/documents/issues/3#issuecomment-667746729.

[2020-08-11 16:24] thaidn commented on #17
@sernle sơ đồ của bạn rất hay. Tôi có hai comment:

1/ Có một thiếu sót nhỏ là đoạn Bluezone lấy thông tin của F0. Cơ quan y tế gửi số điện thoại qua, Bluezone dùng số điện thoại look up ra Firebase token rồi gửi [PUSH_HISTORY](https://github.com/thaidn/bluezone#trigger-the-push_history-command) command xuống để tự động lấy dữ liệu.

2/ Ngoài F1 ra thì Bluezone có thể lấy dữ liệu của F2. Từ F2 có

[2020-08-11 16:30] nhanth87 commented on #17
chính quyền có thể mời vin css, vitetel security, hoặc là bọn gà mờ vnsecurity, tôi k hiểu sao lại chọn bkav, vừa ngu vừa dốt vừa đần

[2020-08-11 16:35] nhanth87 commented on #17
cái này bên HIV ý lộn bên WHO nó có sẵn r bạn ơi

[2020-08-11 16:38] nhanth87 commented on #17
vậy là quay lại việc chính quyền hứa mà k làm à ??

[2020-08-11 16:57] sernle commented on #17
Mình không hiểu ý bạn lắm. Có thể nói rõ hơn được không? Hoặc đưa link mình tự đọc cũng được

Ùh đoạn đấy mình  dựa trên link tập huấn. 'Theo các bước của các cơ sở y tế làm'. Cũng không chắc phần mềm ở các cơ sơ ý tế// bệnh viện có thể làm chính xác những gì? Để mình xem thêm rồi cập nhật hoặc vẽ hình khác cho các tính năng không cần thiết đấy.

Ùh mình nghĩ lấy F2,F3 qua F1 thì cũng có thể thực

[2020-08-11 17:15] sernle commented on #17
Mình cũng không rõ đấu thầu kiểu gì nhưng thực ra họ cùng dành thời gian suy nghĩ và triển khai. Có một số điểm có thể tinh chỉnh nhưng nếu không có ai cố tình lợi dụng sơ hở thì chắc hệ thống vẫn hoạt động được một thời gian. Chỉ không rõ nếu số người bị nhiễm tăng lên thì hệ thống sẽ làm việc thế nào. Vì code hiện giờ có vẻ không ổn lắm.

Edit : xoá phần không chính xác ngữ nghĩa

[2020-08-11 17:19] toankst commented on #19
@thaidn Thanks for catching that, it is indeed disabled and the whole process of normal scan would not start.

![image](https://user-images.githubusercontent.com/37358722/89927979-25fbd700-dbd5-11ea-88b0-e0e6a2a5dab8.png)

[2020-08-11 17:20] nhanth87 commented on #17
thế này là tấn công cá nhân à, cá nhân là đứa nào???
bố mày đéo biết luôn ấy, chỉ dùm bố cá nhân là con mồm lèo  nhé

On Wed, Aug 12, 2020 at 12:15 AM sernle <notifications@github.com> wrote:

--
________________

Best Regards
Tran Huu Nhan

[2020-08-11 17:25] nhanth87 commented on #17
k rõ là tấn công cá nhân gì? còn chuyện bkav vừa ngu, dốt, đần thì cái này  là câu thành ngữ, k hiểu bạn muốn nói gì

[2020-08-11 18:03] sernle commented on #17
"Không nên tấn công cái nhân thế này" Xin lỗi bạn, cái câu này mình nói không chính xác. Ý mình là nên góp ý để giúp đỡ hơn là bảo họ vậy. Mỗi người một tính cách nhưng mình nghĩ ai cũng muốn Việt Nam có một sản phẩm tracking tốt. Những người đang làm ở BKAV cho BlueZone chắc cũng muốn đóng góp nhiều nhất có thể (dù sao họ cũng làm một dụ án có ý nghĩa). Nên nếu đối thoại được thì nên đối thoại, k

[2020-08-11 18:51] kaizvn commented on #17
Mình chưa thấy ai giỏi mà không có 1 chút contribute gì cho opensource (open issues, fix bugs, create lib...) hay gắn bó suốt 1 thời gian dài với mỗi gitlab, bitbucket cả bạn ơi,  nên mình thấy cãi với KILLERST gì đấy cũng chả tới đâu đâu.

[2020-08-11 21:07] phanduonghieu commented on #17
Bạn nói đúng nhưng chưa đủ. Với những ứng dụng toàn dân thì chuyện giữa Chính phủ và đơn vị thực hiện không còn là chuyện nội bộ mà cần được thông tin minh bạch. Một cách chuẩn tắc, trong chính phủ cũng cần có đơn vị độc lập để kiểm định an toàn cho người dùng. Ví dụ cụ thể: chính phủ Pháp đặt INRIA, Orange và một số đơn vị khác cùng làm phần mềm truy vết StopCovid. Đó cũng là sản phẩm của chính p

[2020-08-11 23:21] khanguy00 commented on #17
Hoàn toàn đồng ý. Ngay cả một phần mềm outsource thông thường cũng có 3 bên: bên chủ quản, bên thực hiện và bên kiểm định. Trong đó bên chủ quản thuê 2 bên còn lại, và là bên chịu trách nhiệm trước người dùng cuối.

Có thể đúng như bạn @phanduonghieu nói, chính quyền VN (bên chủ dự án) đang thiếu một bên kiểm định độc lập với mình và với bên thực hiện.

[2020-08-12 01:37] ta2013 commented on #17
Cái bố @phanduonghieu toàn nói lí thuyết (academic), thấy nó nói gửi thông tin cùng ùa vào bảo nó gửi thông tin. Có nắm được đấy cụ thể là thông tin gì cả đâu.
Hài

[2020-08-12 03:13] thaidn commented on #17
@ta2013

Phân chia như vậy gọi làm việc theo nhóm. Mỗi người làm một việc, đúng chuyên môn của mình. Anh @phanduonghieu là giáo sư, anh ấy đưa ra mục tiêu và nguyên tắc làm việc, đây là việc cực kỳ quan trọng, vì nếu không có nguyên tắc thì sẽ trở nên tùy tiện, còn nếu không biết mục tiêu là gì thì làm sao biết mình đang làm đúng hay sai. Ý kiến của anh Hiệu lúc nào cũng bình tĩnh, rõ ràng, đặc bi

[2020-08-12 04:44] vncloudsco commented on #20
Một nửa sự thật không phải là sự thật. chính phủ nói nó là mã nguồn mở nhưng team vận hành lại vậy thì rõ ràng nó không còn là mã nguồn mở nữa. tại sao không dám build một bản trên github? phải chăng 2 source này khác nhau và có gì mờ ám nên việc build nó sẽ làm lộ thông tin mà apps đang cố giấu? chỉ có những điều xấu luôn được che giấu? nếu đã công khai minh bạch thì sao phải sợ?

câu hỏi này lên

[2020-08-12 04:56] anhtuvo commented on #17
Mình vừa đọc báo hôm nay và thấy nó đi ngược lại với điều khoản sử dụng của ứng dụng này, mong team Bluezone giải đáp:

Theo điều khoản sử dụng được public trên trang web https://bluezone.gov.vn/dieukhoansudung. Điều 5: Bảo vệ quyền riêng tư và bản quyền:

Dữ liệu của người dùng phục vụ phân tích, truy vết các ca nhiễm, ca nghi nhiễm sẽ được lưu trữ và bảo mật bởi cơ quan chính phủ và chỉ sử dụng

[2020-08-12 05:06] maixuanhan commented on #17
Thường nhà mạng sẽ bypass data trên domain nhất định, không charge phí data này.

[2020-08-12 05:13] anhtuvo commented on #17
Vấn đề mình thấy nó liên quan đến mục đích thương mại, và có ảnh hưởng tới quyền riêng tư của người dùng. Còn việc nhà mạng có charge phí hay không thì không liên quan đến nguồn cung cấp thông tin đó.

[2020-08-12 06:49] abrahamnguyen commented on #17
@anhtuvo : tôi cũng có thắc mắc giống bạn, nên đã test, khi nhắn tin thử thì tổng đài sẽ báo là chưa cài đặt bluezone nên ko nhận được data. Tôi thử cài nhưng ko xác thực số đt, tổng đài viettel vẫn báo chưa cài đặt app. Tôi thử luôn xác thực số đt, và tổng đài vẫn báo chưa cài app.
Phải chăng là thông tin số đt sẽ được sync qua bên server nhà mạng theo 1 khoảng thời gian trong ngày ? =)), nếu vậy

[2020-08-12 07:18] anonymousgithub314 commented on #17
Giáo sư thì cũng chỉ là giáo sư thôi. Ai đúng thì tôi ủng hộ.

Đây là ý kiến hay, nhưng nó có thể tạo ra 1 trào lưu là app sẽ bị attack. Đặc biệt với cơ chế truy tìm hiện tại

[2020-08-12 12:01] BaoDotMark commented on #17
@ngdangdat  À thế à, tôi code năm nay gần 7 năm rồi mà tôi chưa gặp trường hợp nào mà nó như thế này cả

[2020-08-12 13:51] maixuanhan commented on #17
@thaidn Trân trọng những gì anh đã và đang làm và sẽ chỉ chú trọng vào vấn đề kỹ thuật và bảo mật.
Theo cá nhân tôi, upload server source là một việc làm không có ý nghĩa lắm vì:
1. Ai dám đảm bảo source public với source deploy là một, ngay cả sau khi tiếp nhận ý kiến từ cộng đồng?
2. Giả sử nếu họ có thành thật upload đi nữa thì cũng có nguy cơ lộ lỗ hổng bảo mật khiến hacker có thể thu hoạch dữ

[2020-08-12 14:22] sernle commented on #17
Đây chỉ là một bước để bảo đảm sự minh bạch và thực ra cũng là theo nguyên tắc của phần mềm mở.

Câu này rất không đúng. Việc public code của server nếu làm về open source không phải cái gì lạ lùng. Nên đấy không phải là điều tối kị của bảo mật. Việc nghiêm trọng hơn trong bảo mật là thư giữ những thông tin không cần thiết và tạo ra những API không cần thiết để làm việc đấy. Nói đơn giản là bạn cà

[2020-08-12 14:48] maixuanhan commented on #17
Đoạn đó có nghĩa là không cần thiết phải thu thập thông tin cá nhân người dùng. Build graph thì cứ build nhưng nó sẽ anonymous. Đây là hiến kế để xây dựng hệ thống. Thay vì đặt niềm tin vào chính quyền thì chính quyền nên đặt niềm tin vào nhân dân. Cái server source thì lâu dài có thể up, chứ hiện tại up rủi ro lắm, hệ thống đang go live, thiếu gì chuyên gia không đi consult mà đi up lên public. C

[2020-08-12 16:55] thaidn commented on #17
@maixuanhan

Tôi đồng ý là không có gì đảm bảo việc này cả. Vấn đề hiện tại của cộng đồng là thiếu thông tin, nên ngay cả khi không đảm bảo được gì, có thêm thông tin cũng giúp việc đánh giá chính xác hơn.

Tôi không đồng ý.

Bạn nào làm trong nghề chắc đã biết tin mới hôm qua máy chủ `bluezone.gov.vn` bị hacked, mất cả tài khoản root. Máy chủ này không phải là máy chủ `apibz.bkav.com` nhưng đây l

[2020-08-12 18:08] thaidn commented on #17
Lỗi mà tôi nói ở đây không chỉ là lỗi bảo mật.

Code trên client [1] cho thấy cách thức kiểm tra tiếp xúc trên client rất đơn giản: chỉ cần đi xẹt ngang bất kỳ F0 hay F1 nào chỉ một lần thôi là đã bị tính là có tiếp xúc.

Tức là sẽ có nhiều false positive, ảnh hưởng đến hiệu quả của việc truy vấn tiếp xúc và ảnh hưởng đến cuộc sống của những ai chẳng may bị false positive.

Vì tất cả thông tin của

[2020-08-12 23:21] truongsinh commented on #17
spoiler alert: off topic "đề nghị với team BZ"

anh @thaidn cho em hỏi, nếu làm 1 app mới theo hướng decentralized thì có khó khăn và tốn nhiều công sức không, hoặc anh có biết đã có sẵn app nào như vậy cho mọi người dùng chưa? BZ đi theo hướng centralized, cái này mọi người biết rồi, ai chấp nhận thì dùng, không chấp nhận (sử dụng hương tiếp cận centralized) thì đôi khi lại bị mang tiếng không yê

[2020-08-13 00:43] MeguMario commented on #17
Unrelated stuff here but as of update 3.0, they implement this button to upload the contact history, the contact history will only upload once you have the otp code
![Screenshot_20200813-073853](https://user-images.githubusercontent.com/44724359/90081650-1052f280-dd38-11ea-80ec-fe7658a37391.png)
![Screenshot_20200813-073847](https://user-images.githubusercontent.com/44724359/90081655-12b54c80-dd38

[2020-08-13 01:16] maixuanhan commented on #17
Cái này chưa chứng minh được là do code server kém nên bị hack. Bạn không thể nói với một người: "ông đem hết tài sản và bản thiết kế nhà ra trưng bày, nếu không trộm vô lấy hết cũng vậy". Mình vẫn giữ ý kiến cá nhân (có reply bên dưới ý kiến gốc 1 comment).

Và ý kiến xây dựng lịch sử tiếp xúc anonymously, cũng theo cá nhân, mình thấy khá hiệu quả cho việc giải quyết khủng hoảng niềm tin và bảo v

[2020-08-13 02:18] thaidn commented on #17
Tôi cũng nghĩ đến chuyện này. Thật ra không cần phải làm khác biệt hẳn so với Bluezone, mà chỉ cần fork Bluezone rồi sửa những vấn đề mà mọi người đưa ra ở đây. App vẫn sẽ compatible với Bluezeone, nhưng sửa những chỗ như sau:

1. Bỏ permission request thừa. Bluezone không có sử dụng storage permission nhưng vẫn hỏi nên một số người dùng cảm thấy nghi ngờ.

2. Trước khi tải dữ liệu lên máy chủ thì

[2020-08-13 04:17] nartos commented on #17
@thaidn

Với tình trạng source không đồng bộ với app, cộng thêm không có specification hoặc source của phần server API thì fork ra app mới khá risk. Chỉ cần server thay đổi (vô tình hay cố ý) thì rất mất công update.

Thêm nữa, trên App store có vẻ khó để đưa app chống dịch mà không phải của chính phủ lên.

Vậy nên mình đề nghị những bạn muốn fork app nên cân nhắc kĩ trước khi bắt đầu.

[2020-08-13 04:18] nhatthanh510 commented on #17
Code thế này mà sợ người khác chôm =)). Đúng tấu hài

[2020-08-13 04:22] ta2013 commented on #17
Là code thế nào? *github* mà bạn nói thế mới là hài.

[2020-08-13 04:23] ta2013 commented on #17
Đấy gọi là nhìn thấy tree không thấy forest

[2020-08-13 04:26] nhatthanh510 commented on #17
ủa mình đâu có sợ bị chôm code đâu mà hài bạn ahaha

[2020-08-13 05:07] thaidn commented on #17
Đúng là mình sẽ phải chạy đua với server, không còn cách nào khác.

Cảm ơn bạn đã nhắc, đúng là tôi không nghĩ đến vấn đề rất quan trọng này. Có lẽ là không làm được rồi, vì tôi biết có lẽ Google cũng yêu cầu app chống dịch phải gắn với chính phủ. May mà bạn nhắc, không thì bỏ thời gian vô rồi lại không làm được gì, hú vía ;-).

[2020-08-13 19:42] truongsinh commented on #17
Về vấn đề đưa app lên store, giả sử mà có đưa lên được, thì em nghĩ bước đầu đa số các bạn geek/privacy-aware dùng thôi, k nhiều, mà nếu đối tượng này thì cũng có chút kiến thức tự cài APK trên Android.

Giải pháp: tự cài APK / https://developer.android.com/distribute/marketing-tools/alternative-distribution. Khuyết điểm:
- Kén đối tượng người dùng
- Vấn đề tin tưởng / APK signature
- Chỉ có thể l

[2020-08-13 23:04] sernle commented on #17
@thaidn

_Không biết US thế nào. UK bỏ luôn vụ tính toán khoảng cách rồi đấy. Cứ phát hiện được tương tắc qua Bluetooth là ngồi nhà luôn rồi đăng kí đi kiểm tra. Mình nghĩ sẽ có nhiều nước rồi cũng sẽ phải làm thế vì vụ này rất phức tạp (dễ lọt False Negative). Hồi đầu UK làm không dùng Google+Apple API, độ chính xác cũng chỉ được tầm 60-70% khi dựa trên Bluetooth._  Vụ này không chính xác như @an

[2020-08-14 03:03] antranapp commented on #17
Không biết bạn lấy thông tin này ở đâu nhưng không chính xác nhé. Không phải là cứ có tương tác qua Bluetooth là ngồi nhà đâu. App contact tracing mới của UK dùng Exposure Notification Framework của Google + Apple, cố gắng tìm tương tác trong khoảng cách 2m. Họ còn làm việc cùng đại học Oxford và Turing Institute để improve accurancy [1] cho EN Framework, tất nhiên là Apple + Google là người phải

[2020-08-14 05:01] ta2013 commented on #17
Tò mò UK giải quyết thế nào? @antranapp

[2020-08-14 06:36] ta2013 commented on #17
@thaidn
Hải Dương cả tỉnh đang phải cách ly
Chả hiểu BZ có vai trò gì? hay cũng là ...

[2020-08-14 06:45] sernle commented on #17
Oh vụ này chính xác, mình vừa đọc lại. Xem ra họ vẫn cố gắng giảm bớt các trường hợp bị sai. Mình sẽ sửa lại post của mình cho chính xác.
@ta2013 ta design mới của họ
https://github.com/nhsx/covid19-app-system-public/blob/master/doc/architecture/ag-architecture-guidebook.md
Ngoài việc họ đang cố gắng cải thiện công thức tính khoảng cách. Thì có vẻ họ còn tham khảo công thức tính của độ rủi ro của

[2020-08-14 08:09] antranapp commented on #17
@ta2013 @sernle  Đây là paper [1] cách Turing Institute sử dụng Kalman filter để giảm nhiễu trong việc đo proximity distance và duration of proximity từ BLE RSSI.

Đúng như bạn đã nói, cái việc khử nhiễu này không phải là chuyện đơn giản. Do Exposure Framework chỉ expose calculated attenuations [2] nên mình hy vọng Google + Apple sẽ tham khảo các bài đánh giá của các nhà khoa học như ở [1] để upda

[2020-08-14 09:03] sernle commented on #17
Mình ủng hộ việc những nỗ lực tạo App Contact tracing. Nhưng mình thấy tuỳ điều kiện quốc gia nên nhiều chiến thuật áp dụng cùng lúc, thay vì bỏ tất cả trứng vào một giỏ bây giờ. Nỗ lực làm tính khoảng cách chính xác hơn sẽ tốt. Nhưng mình sẽ thiên về chọn khoảng cách 5m mà chính xác cao hơn là 2m mà độ chính xác tương đối. Những cái này có thể cho vào một công thức để tính risk.

Về lâu về dài mì

[2020-08-14 10:08] LuckyLam34 commented on #17
Hình như dlv kéo vào hơi nhiều. Goodluck anh Thái

[2020-08-14 10:57] hungdotrong commented on #17
Hi bạn, cho mình xin definition của dlv được k, cứ phản biện anh Thái là thành dlv à =)))

[2020-08-14 11:19] hungdotrong commented on #17
Hi Thai,
I am browsing some of your comments and really curious about how you suggest the app to work properly without compromising the user data (according to your argument that centralised server and phone number is essential parts of user data). I am just surprised that you think Apple/GG API is utmost at the moment for the contact tracing app, api doesnt provide potentially exposed people to t

[2020-08-14 12:18] sernle commented on #17
Mình muốn góp ý chút. Tại bạn bảo điều tốt nhất cho đất nước là không dùng. Nhiều nước khởi đầu không cần Apple/Google API rồi và không thành công. Australia cũng không tính là thành công nếu theo những thông tin mình đọc được https://www.abc.net.au/news/science/2020-06-17/covidsafe-contact-tracing-app-test-documents-rated-poor-iphone/12359250 . Một trong những vấn đề quan trọng để các app hoạt độ

[2020-08-14 12:30] hungdotrong commented on #17
Hi bạn, 2/ Nếu được thì cũng nên công bố mã nguồn của máy chủ. Làm vậy sẽ giúp những ai quan tâm có thể đóng góp dễ dàng hơn. Thì mình nghĩ là cung cấp mã nguồn máy chủ ở đây là mã nguồn gì, k phải là gov database hả bạn, mình thấy buồn cười những nước phát triển còn chưa release source máy chủ chỉ có app thôi. Bạn nêu ưu điểm của GG AP xem "potentially exposed people to tracing teams" những người

[2020-08-14 12:57] sernle commented on #17
Code server của Đức
https://github.com/corona-warn-app/cwa-server
Code server của Anh
https://github.com/nhsx/covid19-app-system-public
Bạn cần các nước khác nữa không? Thực ra mình không hiểu lắm bạn có biết gì về vấn đề bạn nói không? mã nguồn vs cơ sở dữ liệu là hai cái hoàn toàn khác nhau, tại sao lại nhập nhằng với nhau. Cái này dù học ở đâu cũng biết.

Bạn có làm về lĩnh vực đấy chưa? Ý là b

[2020-08-14 13:09] hungdotrong commented on #17
À mã nguồn của server á, mình sống ở úc thấy chính phủ k public mã nguồn. Còn mấy nước bạn đưa ra là thì thấy toàn dùng decentralised server, còn centralised server mình thấy chỉ cần đưa cách process thông tin chứ k đưa source server, họ đã nó rõ app là open source nhưng server họ có bảo là open đâu. Nhưng bạn đọc T&C của Apple and Google API xem, nó chỉ cho tracing team limited information về ngư

[2020-08-14 14:16] lamnguyenx commented on #17
Kiểu nói chuyện mà cứ thả cái "=))" vs ":))" rất phản cảm. Cảm giác như bạn đang phải gồng lên cố tỏ ra tự tin vs kiến thức của mình ạ, hoặc là kiểu cợt nhả để lúc sai thì đỡ ngượng.

Góp ý đến bạn vậy.

[2020-08-14 14:21] antranapp commented on #17
@hungdotrong tôi đọc comments của bạn vẫn ko hiểu cuối cùng ý của bạn muốn đưa ra là gì. Các claims bạn đưa ra hỏi @thaidn toàn ở đâu đâu, chưa chỗ nào mình thấy bạn @thaidn bảo là Google + Apple api là tốt nhất hay bạn ý muốn nhìn database cả. Bạn @sernle cũng đã giải thích khá rõ ràng nhưng hình như bạn vẫn cố tình không muốn hiểu.

Ý kiến của tôi cho cái issue này: Có lẽ chúng ta nên đóng lại i

[2020-08-14 16:14] thaidn commented on #17
Tôi nghĩ cứ để mở thôi, vì đóng sẽ tạo cảm giác là đã được giải quyết, nhưng tôi đồng ý là nên chia nhỏ ra. Tôi nghĩ làm sao để tối ưu chuyện phát hiện tiếp xúc là một chủ đề quan trọng cần được thảo luận tiếp.

Mặc dù team Bluezone không trả lời, nhưng tôi biết là họ có theo dõi và điều chỉnh. Ví dụ như bây giờ họ đã thừa nhận trong Terms of Use là có lấy dữ liệu của người dùng. Bữa trước họ dele

[2020-08-14 16:21] Ihsara commented on #17
Ngồi xem hội mấy bữa nay, giờ cũng mới thấy điều tâm đắc nhất. Chia ra rồi gắn nhãn vào thôi. Và lần tiếp theo thì mọi người cố gắn chỉ nói trong chủ đề ấy.
Cơ mà trước khi đóng, anh Thái đề ra luôn anh muốn chia ra làm bao nhiêu vấn đề con rồi mồi người vào bầu còn không tạo luôn đi.

[2020-08-14 16:53] nguyelua001 commented on #17
Các con trời cãi kĩ thuật không lại anh Thái rồi lại tổ lái à :)))

[2020-08-15 05:18] truongsinh commented on #17
Vậy cũng nên ghi nhận team BZ có sửa đổi 😁 , k còn mang tiếng "nói 1 đằng làm 1 nẻo" về vụ thu thập dữ liệu. Nhưng vụ "mã nguồn mở" code server thì chưa thấy nói năng gì. Mình cũng đồng ý là nếu có mở thì để anh em đóng góp, còn nếu không mở thì cứ thừa nhận là không. Chứ cứ bảo mở ra hết đấy xong đến lúc hỏi thì một số bạn dãy nãy lên (những bạn này là user của Github mà chắc chưa tìm hiểu các th

[2020-08-15 09:07] sernle commented on #17
Mỗi người nên tự tạo những issue riêng nếu thấy cần thiết. Không nên đặt tất cả mọi việc lên Thái.
Hôm nay có vẻ những người chưa cài BlueZone đề nhận được tin nhắn là phải cài BlueZone thì phải? Ai ở Việt Nam có thể xác nhận được không?

[2020-08-15 09:34] ta2013 commented on #17
Vừa nhận được tin nhắn (mặc dù đã cài & ko điền số đt):
"Điện thoại của bạn chưa cài đặt ứng dụng phát hiện tiếp xúc gần Bluezone do Bộ TTTT, Bộ Y tế triển khai. Hãy bảo vệ bản thân và gia đình, cùng chung tay ngăn chặn sự lây lan của virus bằng sức mạnh của cả cộng đồng. Việt Nam sẽ chiến thắng Covid-19! Cài đặt ứng dụng tại https://bluezone.gov.vn/taiapp"

@thaidn có bình luận gì không ?

[2020-08-15 12:17] vhnam commented on #17
@sernle @ta2013 em mới nhận được. Nhưng có vẻ chỉ những máy dùng Android. Còn iPhone thì chưa nhận được.

[2020-08-15 18:26] mauluong commented on #17
Nhà mạng có thông tin bạn đang dùng điện thoại gì, nếu là smartphone thì check xem đã đăng ký bluezone chưa, nếu chưa thì gửi tin nhắn :D

[2020-08-15 20:24] sernle commented on #17
@mauluong Mạng điện thoại bình thường sẽ không biết bạn cài ứng dụng gì
@ta2013 Thực ra mình không rõ các mạng có cung cấp dịch vụ chuyển tin nhắn toàn bộ các máy điện thoại. Nhưng trong trường hợp này cách dễ nhất là cung cấp cho các mạng tất cả các số điện thoại chưa cài BlueZone hoặc cài BlueZone mà chưa đăng ký số điện thoại . Các mạng tự liên lạc các số còn lại. Nếu chỉ thế này thôi thì chắc

[2020-08-16 05:49] ta2013 commented on #17
Lượm được cài này đọc chơi:

Blogger Unknown said...
Em cũng học bách khoa, rất hâm mộ anh, nhưng cái cách anh nhìn nhận vấn đề em thấy hơi sai rồi, mong anh hãy tập trung vào chuyên môn đóng góp tốt cho công ty chủ quản của mình thay vì tìm cách bới móc công nghệ ở Việt Nam.

Đọc blog của anh, em biết anh không có thiện cảm gì với chính phủ Việt Nam và cái cách anh chỉ trích công nghệ thông qua B

[2020-08-16 07:37] lukednguyen commented on #17
Mình đọc quote của bạn này thấy "tư vấn bởi rất nhiều nhân tài khác trong nước", không biết họ gồm những ai. Nếu thật sự một ứng dụng được quảng cáo là minh bạch, liên quan đến hàng triệu người thì ít ra chúng ta cũng nên biết những người đứng sau nó là ai chứ nhỉ. Nếu là nhân tài thì anh Thái cũng có thể được đếm là một người (nhưng không phải là trong nước). Vậy tại sao team Bluezone vẫn chưa có

[2020-08-16 09:45] ta2013 commented on #17
@lukednguyen
Off topic
Nhân tài trước tiên phải là người có đạo đức. Đạo đức mà đi cổ vũ cho việc defaced, get root là không ổn.
Còn so sánh với các bạn nhà giài Sing/UAE ăn sổi làm gì!

[2020-08-16 10:13] HuyNguyen25788 commented on #17
Hiện tại đã cài và đăng ký đúng số điện thoại nhưng vẫn nhận tin nhắn thông báo chưa cài.
Có lẽ ở đây có vẫn đề khi người dùng sử dụng điện thoại có 2 sim

[2020-08-16 11:09] sernle opened #21 "Có nên giới hạn thời gian lưu trữ thông tin của người dùng BlueZone"
Dựa vào thảo luận ở https://github.com/BluezoneGlobal/react-native-bluetooth-scan/issues/17, thì mọi người cũng xác định được là BlueZone có lưu trữ dữ liệu của người dùng. Câu hỏi ở đây là có nên giới hạn thời gian lưu trữ thông tin không? Mình nghĩ là có nhưng thời gian là bao lâu. Thực tế là đến một lúc nào đấy cũng phải nên xoá đi.

[2020-08-16 11:17] sernle opened #22 "Kiến nghị về sử dụng số điện thoại để liên lạc và thu giữ thông tin người dùng"
Dựa vào những thảo luật ở đây https://github.com/BluezoneGlobal/react-native-bluetooth-scan/issues/17, mọi người cũng có thể xác định được là BlueZone có lưu giữ số điện thoại và có dùng số điện thoại để đối chiếu rồi tải lịch trình của người dùng tự động.

Mình nghĩ có hai điểm ở đây :
  - Nên cho phép người dùng có quyền quyết định trong việc upload thông tin.
  - Liệu số điện thoại có phải là c

[2020-08-16 12:45] sernle commented on #17
Bạn nói chuyện như một đứa trẻ. Không so sánh kiểu đấy thì so với Lào và Campuchia à. Việt Nam muốn chuyển mình vươn lên tầm thế giới thì phải nhìn lên xem người ta có gì hay còn họ tập chứ suốt ngày tự sướng nhất thế giới này nọ kia để làm gì. Muốn chứng minh gì phải làm bằng hành động cụ thể? Nói gì cũng nên tìm hiểu cho kĩ. Nếu hiểu kỹ thuật thì nói về kỹ thuật, nếu không thì đưa link trực tiếp

[2020-08-16 13:10] lukednguyen commented on #17
Tuy mình nghèo hơn họ nhưng trình dev của mình chả thua kém gì họ cả. Với lại mình cũng chả nói về chuyện giàu nghèo ở comment trước của mình. Ý chính của comment đó là so sánh sự minh bạch của những dự án chính phủ Singapore (ủy quyền) làm với Bluezone của Việt Nam, 1 app luôn được quảng cáo về tính minh bạch của nó. Tại sao đã bảo là minh bạch nhưng đội ngũ phát triển lại làm nửa vời như vậy?

C

[2020-08-16 13:42] vncloudsco commented on #21
mình nghĩ thông tin nên lưu trữ tối đa là 30 ngày sau 30 ngày nên xóa tất cả.

[2020-08-16 14:01] vncloudsco commented on #22
1: thông tin người dùng thì mình nghĩ họ lên để người dùng quyết định làm cái gì.
2: cái này chỉ truy vết ở việt nam nên hơn nữa là điện thoại thông minh cái này chủ yếu phục vụ ở các thành thị là phần lớn, nên mình nghĩ không thành vấn đề với sóng điện thoại, sdt để cơ quan y tế liên lạc nhanh nhất, dùng số điện thoại nguy hiểm nhất là việc theo dõi người dùng đi đâu làm gì trong bao lâu... gặp a

[2020-08-16 14:04] tranvanthai commented on #21
Mình nghĩ nên cho phép người dùng có quyền xem lại được các dữ liệu đã/đang được lưu trữ của họ.

[2020-08-16 16:01] thehung commented on #21
Theo thông tin trả lời ở đây thì Bluezone không lưu trữ thông tin của người dùng trên server: https://tuoitre.vn/co-che-van-hanh-thu-thap-thong-tin-cua-bluezone-nhu-the-nao-20200809091515527.htm

[2020-08-16 20:31] sernle commented on #22
Cũng có một số trường hợp không ổn như kiểu tắt sóng khi lên máy bay hoặc đang họp. Mình ở nước ngoài thì nhà nào tường hơi dầy một chút nhiều chỗ sẽ bị mất sóng. Nếu có thêm các phương pháp liên lạc trước bổ xung sẽ tốt hơn.

[2020-08-16 20:55] sernle commented on #21
Ít nhất họ phải lưu lại số điện thoại chứ nhỉ ? Không làm sao xác định được máy nào cài rồi máy nào chưa để có tin nhắn hôm nay nhỉ ?

Hơi lạ nhỉ trong https://github.com/BluezoneGlobal/documents/blob/master/Bluezone_White_paper.pdf phần 6 bảo không thay đổi.

[2020-08-16 21:02] sernle commented on #21
Thực ra ý này cũng hay. Nếu có thể có cách nào cho phép những người dùng quen nhau điền thêm thông tin cái nhân của người kia thì cũng dễ liên lạc hơn và dễ kiểm tra hơn.

[2020-08-17 00:29] hiepsitemple commented on #22
Bây giờ mình tính rằng người cài Bluezone là người có ý thức chẳng hạn, khi điện thoại cảnh báo họ tiếp xúc với người F0 thì ứng dụng sẽ khuyên người dùng đến khai báo với trung tâm y tế và cách ly. Vậy thì cần số điện thoại làm gì? Nếu họ không tự giác cách ly thì họ cài app để làm gì chứ? Còn các trường hợp mất sóng, họp hay trên máy bay thì cũng chẳng cần thiết tại vì số lượng và thời gian rất

[2020-08-17 00:38] hiepsitemple commented on #21
Dữ liệu thì có thể hiện trong app là "Trong 14 ngày qua bạn đã tiếp xúc với 1 người F0, 105 người F1...". Chỉ cần hiện như thế là được rồi, ngoài ra còn cần xem dữ liệu gì nữa đâu. Nếu theo như team dev nói là đúng thì dữ liệu lưu trên máy người dùng có gì đâu ngoài danh sách số ID của người dùng và danh sách ID máy đã tiếp xúc? Mà mấy cái ID này thì người dùng xem thì có hiểu gì đâu

[2020-08-17 01:06] tranvanthai commented on #21
Xem lại dữ liệu được chia sẻ chứ không liên quan gì tới F0, F1 bạn @hiepsitemple à. Còn phân thích và hiển thị thêm ý nghĩa từ các dữ liệu thì có thể như bạn gợi ý:
[code]

[2020-08-17 02:45] vncloudsco commented on #22
Như mình đề xuất phía trên là sẽ gọi qua apps hoặc tin nhắn ngay trên apps.... lý do là dữ liệu trao đổi với server qua mạng internet thì mình thấy khi người dùng được thông báo thành f1 f2... thì lúc đó máy người dùng cũng phải có mạng internet, cho nên mình thấy tận dụng cái này để liên lạc ngay thì cũng không phải không khả thi.

[2020-08-17 08:45] sernle commented on #22
Nghĩ lại thì thấy tin nhắn trên App cũng đã rất hợp lí rồi. Nếu có link hướng dẫn đến website để xem thông tin khai báo với trung tâm ý tế rồi cách ly. Thực ra về lâu về dài trên App có kiểu tin nhắn hoặc một cách nào đấy để liên lạc lại với trung tâm quản lý dịch cũng hay ? Vì họ cũng không biết người F1, F2 cụ thể ở đâu. Nhắn lại địa chỉ cách ly cũng rất tiện. Mà trung tâm quản lý dịch cũng biết

[2020-08-17 16:51] nmtrung opened #24 "Hỗ trợ android 5"
Máy của người nhà tôi cài android 5 không thể cài đặt được. Người lớn tuổi họ dùng điện thoại 4-5 năm là chuyện bình thường, đâu phải ai cũng thích dùng đồ mới như giới trẻ.
Mong muốn đội ngũ developer hỗ trợ android 5.
Các app phổ biến khác đều hỗ trợ tại sao app này lại ko hỗ trợ?

[2020-08-17 17:27] thenewvu commented on #24
Các bạn có thể tham khảo các thư viện compat sau:

* https://github.com/NordicSemiconductor/Android-Scanner-Compat-Library
* https://github.com/ChaosLeung/BluetoothCompat
* https://github.com/joerogers/BluetoothCompat

[2020-08-18 00:44] immanuel192 commented on #17
@ta2013
1. Xạo ke. Lao nhao chọt vào 1 câu xong bảo off topic. Xin lỗi chứ bạn nhảm nhí hơn tất cả mọi người ở đây.

2. Bạn nói đám UAE/Sing ăn xổi thì tôi đánh giá trình độ "láo táo" của bạn hơi bị cao. Với kinh nghiệm làm việc hơn 4 năm ở Sing của tôi thì mấy cty ở VN có khả năng tech tốt, nhưng mindset còn kém lắm nếu so với Sing. Mà mấy đứa mindset kém thường hay chê mấy đứa giỏi hơn là ngu.

[2020-08-18 02:02] vncloudsco commented on #24
@nmtrung
Lý do là BLE Scanner chỉ hỗ trợ min là Androi 6 bạn  nhé nên Adroin 5 sẽ không thể dùng được.

[2020-08-18 02:05] nmtrung commented on #24
Có chắc chắn 100% là các anh không làm được hay là các anh ko muốn làm? vậy mà cũng gọi là ứng dụng vì cộng đồng à.
Công nghệ đó ko hỗ trợ thì xài công nghệ khác.
Báo đài hô hào cài đi cài đi, spam điện thoại cả ngày, đến lúc muốn cài thì lại ko cài được, cạn lời

[2020-08-18 13:29] maixuanhan commented on #17
Nói một lời công bằng thì mấy bạn làm ở VN nhận xét về nhân lực ở Sing là hơi chủ quan và thiếu cơ sở cũng như là mấy bạn làm việc ở Sing mà đi nhận xét về nhân lực ở VN cũng không có khách quan.

App contact tracing ở Sing phải nói là thất bại, nhiều người còn nói thẳng nó là spyware.

Quay lại bluezone, vấn đề nổi cộm là user privacy. Người dùng có thể sợ rằng có một ai đó biết được vào thời điể

[2020-08-18 14:17] vantinhuynh commented on #17
cơ sở nào để báo kia nói bluezone không thu thập dữ liệu người dùng?
Tôi dùng 2 cái điện thoại cùng nhà mạng, lúc đầu chưa cài Bluezone thì nhà mạng nhắn tin nhắn kêu cài, tôi thử cài trên 1 máy thì máy đó không còn nhắn tin kêu cài nữa. Máy còn lại thì vẫn bị nhắn tin.  đội ngũ phát triển giải thích dùm cái này?

[2020-08-18 15:28] antranapp commented on #17
Đọc bài bàn @maixuanhan gửi thấy có đoạn này:

Google tung trời vẫn không biết ông MemoZone là ai. Tim thấy mỗi cái app này https://play.google.com/store/apps/details?id=com.covi.blecorona nhưng lại đc released bởi 1 cá nhân, trông cũng rất cẩu thả, trang web memozone.net thì không thấy truy cập được.

Edited 1: mình tra google thêm chút nữa thì tìm được bài này https://www.tienphong.vn/cong-nghe/

[2020-08-18 19:26] nhanth87 commented on #17
thích off thì cút mẹ mày đi :))

[2020-08-18 19:30] nhanth87 opened #25 "đề nghị nhà nước chuyển qua nhà cung cấp khác"
đề nghị nhà nước chuyển qua nhà cung cấp khác
vnpt, vittel security, vn security, hoặc Vin security
Chọn BKAV bây giờ quá nhiều lỗi, họ k thể fix dc, người dân không dám cài
Br,
TN

[2020-08-18 22:09] tanduong commented on #17
Mình không phải người trong cuộc nhưng có thể cung cấp một ít thông tin mình biết được. MemoZone là nhóm lên ý tưởng và làm proof of concept cho cái app mà nó trở thành Bluezone. Nhóm MemoZone làm PoC chỉ trong một tuần thôi, đây cũng là chuyện mang tù và hàng tổng. BKAV là đơn vị được chọn vận hành app và cũng đã có nhiều cải tiến từ đó. Như báo [đăng tin](http://www.hanoimoi.com.vn/tin-tuc/Oto-x

[2020-08-19 01:46] antranapp commented on #17
Đây là lí do tôi có mở topic này https://github.com/BluezoneGlobal/bluezone-app/issues/37 vì tôi nghĩ đơn vị chủ quản của app nên định nghĩa rõ ràng cách thức tiếp nhận đóng góp từ cộng đồng cho một app  quan trọng như Bluezone.

[2020-08-19 02:24] vncloudsco commented on #25
và đội phát triển không dám lên tiếng phản biện hoặc cám ơn.  làm mất đi tinh thần của opensource mặc dù họ có lắng nghe có cập nhập nhưng không bao giờ lên tiếng!

[2020-08-19 15:08] baonq-me commented on #17
Issue này đã quá dài. Cần người phía Bluezone hoặc Cục tin học hóa vào chốt. Nếu được anh @thaidn có thể tách 5 đề nghị đã nói ban đầu thành 5 issue khác nhau và đề nghị phía team/cục vào chốt từng cái một được không ạ.

[2020-08-20 01:02] anhtudo97 commented on #20
Mình vẫn chưa hiểu sao bạn lại hỏi câu hỏi này ?

[2020-08-20 02:02] HongThatCong commented on #20
Em là dân cơ khí, làm đá và cơ điện ạ. Không phải IT :D

[2020-08-20 08:54] vncloudsco commented on #17
lại cãi nhau thôi bạn a. tách ra cũng chả có ý nghĩa gì đâu!

[2020-08-20 15:30] baonq-me commented on #17
Nhưng ít nhất cũng có cái gì đó rõ ràng hơn để phía project lên tiếng chính thức về từng đề xuất, hoặc chí ít cũng để tranh luận có định hướng hơn :D Chứ không thể nào phía project quăng một mớ code + doc lên đây xong rồi để đó được, nhất là khi đã có chủ trương chính thức. Thà chuyển sang archived còn hơn.

https://vnexpress.net/bluezone-mo-ma-nguon-4090614.html

[2020-08-21 01:57] vncloudsco commented on #17
nếu họ có thiện chí trả lời thì đã không cãi nhau tới bây giờ rồi bạn cho nên có tách ra cũng đâu có tác dụng gì? vấn đề opensource cho có nên đội dev không quan tâm!

[2020-08-21 04:31] khanhtranngoccva commented on #17
Đây không phải chỗ để cãi nhau, mà để góp ý. Ý kiến: Tranh luận này mang quá nhiều màu sắc chính trị. Dường như một số người đang tranh luận đang sống ở nước ngoài, nên cỏ vẻ không quan tâm đến chống dịch và lấy cớ để tuyên truyền (chống cộng) này nọ (không liên quan tí gì đến covid). Nhiều người ở VN đều chấp nhận thông tin được thu thập (bao gồm số điện thoại và kể cả vị trí nếu được phát hiện F

[2020-08-21 04:52] lukednguyen commented on #17
Xin lỗi bạn nhưng mình đọc chưa thấy có ai có tư tưởng "chống cộng" cả, chỉ là nhiều người không tin tưởng vào đội ngủ dev hiện tại (BKAV).

Và trong topic này có nhiều người ở nước ngoài, nhiều người ở VN, nhưng họ đều có chung thắc mắc về độ minh bạch của ứng dụng được cả chính phủ khuyên dùng. Nếu ứng dụng thật sự minh bạch như những gì được quảng cáo thì đã không có topic này để mọi người vô t

[2020-08-21 05:05] khanhtranngoccva commented on #17
Ừ. Mình thấy @thaidn có vẻ đang làm việc cho BBC, một trang báo có tư tưởng đối lập nên không đáng tin tưởng lắm :( sao không làm một video youtube về cách thu thập dữ liệu của bluezone nhỉ? Hướng dẫn của @thaidn trên github hơi khó hiểu. @thaidn nên chứng minh bằng cách đó rồi gửi qua email trực tiếp cho dev, và cũng gửi link qua đây luôn nhé cho mọi người xem và hay :). Vẫn đồng ý nên mở mã của

[2020-08-21 08:32] khanguy00 commented on #17
Mình lại nhảy vào vì thấy ý kiến của bạn @khanhtranngoccva rằng:

Để trả lời cho ý của bạn @lukednguyen ở trên.

Có vẻ ý của bạn ấy là những ai trả lời phỏng vấn hoặc viết bài trên BBC đều là phản động. Vậy chắc phải đề nghị VnExpress gỡ mấy bài này xuống luôn: https://vnexpress.net/ao-giap-va-thanh-guom-4133455.html

Nếu hướng dẫn của Thái khó hiểu với bạn thì bạn có thể bỏ qua, và để những người

[2020-08-21 08:34] thehung commented on #25
Mình làm việc với cục Tin học hóa - Bộ TT&TT thì được biết là đội BKAV tình nguyện hỗ trợ hoàn toàn miễn phí cho nhà nước.
Anh em công ty nào sẵn sàng hỗ trợ cho nhà nước cứ đánh công văn sang cục tin học hóa, chắc chắn sẽ được chào mừng.

[2020-08-21 13:52] sernle commented on #25
@thehung Mình nghĩ những người dành thời gian thảo luận trên này đều sẵn sàng hỗ trợ . Mình không nghĩ chỉ có BKAV đề nghị giúp đỡ miễn phí đâu. Vì rất nhiều công ty đã trích quỹ ra ủng hộ phòng chống  COVID-19, nên vấn đề này chắc không phải vì tiền bạc mà không giúp đỡ.

[2020-08-22 04:11] nmtrung commented on #24
@ntcuong @khiemdoan @BachThanhLe

[2020-08-25 06:48] nmtrung commented on #24
@ntcuong @khiemdoan @BachThanhLe
tag thế này mà cũng ko thèm quan tâm luôn à mấy anh?

[2020-08-26 09:20] vncloudsco commented on #24
bạn nên biết là cái này chỉ làm cho có lên chả ai trong đội ngũ quan tâm bạn nói gì đâu, bạn theo dõi các issues khác sẽ thấy họ chả bao giờ quan tâm bạn cần gì nghĩ gì đâu, mặc định bạn vẫn phải cài khi nó thành độc quyền thì sẽ là như thế đấy người dùng  tìm tới công cụ còn công cụ chả cần quan tâm người dùng. nên bạn có tag có gọi được điện cho họ câu trả lời vẫn là không bao giờ có sự hỗ trợ h

[2020-08-26 09:45] khiemdoan commented on #24
Mình chẳng hiểu tại sao tự nhiên bị tag vào đây. Việc mình có contribute vào repo không có nghĩa là mình có trách nhiệm phải phát triển hay maintain cho dự án này. Kỳ cục.

[2020-08-29 00:25] nmtrung commented on #24
vậy tức là contribute toàn cho mấy ông bù nhìn vào, BKAV cao tay thật :v

[2020-08-29 05:40] khiemdoan commented on #24
Bạn nói gì kỳ vậy, mình thì liên quan gì tới Bkav? Đây là open source và nếu cảm thấy chỗ nào chưa ổn thì đều có thể tạo pull request. Nhưng cả chính bạn và Bluezone đều ko trả lương cho mình, mình sao có thể dành quá nhiều thời gian mà support Android 5 cho bạn được? Kỳ cục.

[2020-08-29 11:37] nmtrung commented on #24
@khiemdoan  Ông ko thích làm thì ông kêu người khác trong BKAV vào cái issue này đọc được ko?
Việc nhờ người khác này có quá khó?

[2020-08-29 12:26] ferez96 commented on #24
@nmtrung Contributor không có trách nhiệm phải giải quyết issue của bạn nhé. Open Source project thì vấn đề được giải quyết bằng willing của cộng đồng. Không có ai willing thì chịu, nếu nó làm bạn khó chịu, thì bạn tự tìm hiểu mà làm lấy, sau đó tạo Pull Request để đóng góp chung vào.

Về team phát triển sẽ có những priority riêng, mỗi contributor cũng có priority riêng. Bạn là ai mà yêu cầu người

[2020-08-29 12:31] ferez96 commented on #24
Với lại bác @khiemdoan chỉ có 1 PR: #3
=))) Thật là người có quá nhiều ảnh hưởng đến project, rất cần có trách nhiệm support multiplatforms =)) Tôi đã cười rất nhiều =))))

[2020-08-29 16:55] nmtrung commented on #24
@ferez96 ko ai trả lời nên tôi thấy thằng nào trong contributor thì tôi tag vào cho nó đọc thôi, quan tâm gì 1 PR với chả nhiều PR, lắc não xíu đi anh ơi
Ý anh là phải đóng góp thì mới được quyền complain?

[2021-03-13 01:15] chiro-hiro commented on #20
Ranh con, grhhh

[2021-05-31 06:16] hoanglap commented on #13
bạn có thể ra facebook, zalo hay insta gì đó để kêu gọi mọi người cài đặt còn đây là chỗ để mọi người góp ý về kĩ thuật chứ không phải vô công kích cá nhân.